# Compose v3 ref: https://docs.docker.com/compose/compose-file/compose-file-v3/
---
version: "3.9"

x-var:
  - &POSTGRES_USER
    postgres
  - &POSTGRES_PASSWORD
    default
  - &POSTGRES_DATABASE
    postgres
  - &POSTGRES_HOST
    database

x-defaults: &defaults
  logging:
    driver: "json-file"
    options:
      max-size: 10m
      max-file: "3"

services:
  database:
    container_name: *POSTGRES_HOST
    environment:
      POSTGRES_USER: *POSTGRES_USER
      POSTGRES_PASSWORD: *POSTGRES_PASSWORD
      POSTGRES_DB: *POSTGRES_DATABASE
    image: postgres:15
    ports: [5432:5432]
    volumes: ["/pgdata"]
    healthcheck:
      test: ["CMD", "pg_isready", "-U", *POSTGRES_USER]
      interval: 5s
      timeout: 10s
      retries: 10
    <<: *defaults

  legacydb:
    container_name: oracle
    environment:
      APP_USER_PASSWORD: default
      APP_USER: THE
      ORACLE_RANDOM_PASSWORD: yes
    platform: "linux/amd64"
    image: gvenzl/oracle-xe:21.3.0-slim-faststart
    ports: [1521:1521]
    volumes: [/opt/oracle/oradata gvenzl/oracle-xe]
    healthcheck:
      test: [ "CMD-SHELL", "healthcheck.sh" ]
      interval: 5s
      timeout: 10s
      retries: 10
    <<: *defaults
