body {
  margin: 0;
}

/* ------------------ leaflet search bar ------------------ */
.leaflet-geosearch-bar {
  position: absolute;
  left: 10px;
}

.leaflet-geosearch-button.active .leaflet-bar-part {
  width: 30px;
}

.leaflet-control-geosearch form,
.leaflet-control-geosearch form input {
  height: 30px;
}

.leaflet-geosearch-button form.open {
  border-radius: 0 4px 4px 0;
}
