* {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
}

.bx--btn{  
  width: 243px;  
  padding: 3px;  
}

.rounded > button{
  border-radius: 4px !important;
}

.bx--btn > button{  
  border-radius: 4px !important;
}

.bulleted-list{
  list-style: decimal;
  margin-left: 1.5rem;
}

.bulleted-list li{
  padding: 5px;
}

.notification{
  max-width: 100%;
}
.bx--inline-notification__text-wrapper{
  display: flex-root;
}

.inner-heading{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}

.inner-text {    
  font-style: normal;    
  font-size: 16px;
  line-height: 24px;
  color: #606062;  
}

.inner-text-spaced{
  margin-bottom: 32px;
}

.form-header{
  font-size: 28px; 
}

.visible-disabled{
  color: #525252;
}

.wizard-wrap{
  display: flex;
  flex-direction: column;
  padding: 0px 32px;
  gap: 40px;
}

.inner-spotlight-topic{
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.inner-spotlight-group{
  display: flex;
  flex-direction: column;  
  gap: 12px;
  align-items: stretch;
  width:100%;
}

.inner-spotlight-group-markup{ 
  border-bottom: solid 1px #DFDFE1;
}

.bx-tag{
  background-color: #00478F;
    color: white;
}