@use './colors.scss' as colors;

$dark-notification-token-overrides: (
  notification-background-info: colors.$gray-90,
  notification-background-success: colors.$gray-90,
  notification-background-warning: colors.$gray-90,
  notification-background-error: colors.$gray-90,
  notification-border-info: rgba(colors.$blue-50, 0.40),
  notification-border-success: rgba(colors.$green-50, 0.40),
  notification-border-warning: rgba(colors.$yellow-60, 0.40),
  notification-border-error: rgba(colors.$red-50, 0.40),
  notification-action-hover: colors.$white,
  notification-action-tertiary-inverse: colors.$blue-60,
  notification-action-tertiary-inverse-text: colors.$white,
  notification-action-tertiary-hover: colors.$blue-65,
);
