@use './colors.scss' as colors;

/// Carbon doesn't have native pink and violet tags,
/// so we override the magenta and purple tokens instead
$dark-tag-token-overrides: (
  tag-background-blue: colors.$blue-80,
  tag-color-blue: colors.$blue-10,
  tag-hover-blue: colors.$blue-75,
  tag-background-cyan: colors.$cyan-100,
  tag-color-cyan: colors.$cyan-10,
  tag-hover-cyan: colors.$cyan-90,
  tag-background-green: colors.$green-80,
  tag-color-green: colors.$green-10,
  tag-hover-green: colors.$green-70,
  tag-background-magenta: colors.$pink-80,
  tag-color-magenta: colors.$pink-10,
  tag-hover-magenta: colors.$pink-70,
  tag-background-purple: colors.$violet-60,
  tag-color-purple: colors.$violet-10,
  tag-hover-purple: colors.$violet-50,
  tag-background-red: colors.$red-80,
  tag-color-red: colors.$red-10,
  tag-hover-red: colors.$red-70,
  tag-background-teal: colors.$teal-90,
  tag-color-teal: colors.$teal-10,
  tag-hover-teal: colors.$teal-80,
  tag-background-gray: colors.$gray-70,
  tag-color-gray: colors.$gray-10,
  tag-hover-gray: colors.$gray-65,
);
