@use './colors.scss' as colors;

$light-notification-token-overrides: (
  notification-background-info: colors.$blue-10,
  notification-background-success: colors.$green-10,
  notification-background-warning: colors.$yellow-10,
  notification-background-error: colors.$red-10,
  notification-border-info: rgba(colors.$blue-60, 0.40),
  notification-border-success: rgba(colors.$green-60, 0.40),
  notification-border-warning: rgba(colors.$yellow-60, 0.40),
  notification-border-error: rgba(colors.$red-60, 0.40),
  notification-action-hover: colors.$white,
  notification-action-tertiary-inverse: colors.$white,
  notification-action-tertiary-inverse-text: colors.$gray-100,
  notification-action-tertiary-hover: colors.$gray-10,
);
