@use './colors.scss' as colors;

$light-button-token-overrides: (
  button-primary: colors.$blue-60,
  button-primary-hover: colors.$blue-65,
  button-primary-active: colors.$blue-80,
  button-secondary: colors.$gray-80,
  button-secondary-hover: colors.$gray-75,
  button-secondary-active: colors.$gray-70,
  button-tertiary: colors.$blue-70,
  button-tertiary-hover: colors.$blue-75,
  button-tertiary-active: colors.$blue-80,
  button-danger-primary: colors.$red-60,
  button-danger-secondary: colors.$red-70,
  button-danger-hover: colors.$red-70,
  button-danger-active: colors.$red-80,
  button-separator: colors.$gray-20,
  button-disabled: colors.$gray-30,
);
