@use "sass:map";
@use "@carbon/styles";
@use "@bcgov-nr/nr-fsa-theme/design-tokens/type-family.scss" as typeFamily;

:root {
  --others-transparent-transparent: rgba(255, 255, 255, 0);
  --light-theme-border-subtle-01: #dfdfe1;
  --light-theme-button-button-primary: #0073e6;
  --light-theme-button-button-secondary: #464648;
  --light-theme-button-button-tertiary: #005cb8;
  --light-theme-button-danger-hover: #b32001;
  --cds-focus: #0073e6;
  --light-theme-layer-accent-layer-accent-01: #dfdfe1;
  --light-theme-layer-layer-01: #f3f3f5;
  --light-theme-layer-layer-02: #fff;
  --light-theme-link-link-primary: #005cb8;
  --light-theme-link-link-primary-hover: #00478f;
  --light-theme-link-link-secondary: #00478f;
  --light-theme-link-link-secondary-hover: #00478f;
  --light-theme-link-link-inverse: #5cadff;
  --light-theme-link-link-visited: #7c1cdf;
  --dark-theme-link-link-primary: #5cadff;
  --dark-theme-link-link-primary-hover: #85c2ff;
  --dark-theme-link-link-secondary: #85c2ff;
  --dark-theme-link-link-secondary-hover: #005cb8;
  --dark-theme-link-link-inverse: #005cb8;
  --dark-theme-link-link-visited: #c59af1;
  --dark-theme-focus-focus: #ffffff;
  --dark-theme-button-button-tertiary: #ffffff;
  --dark-theme-button-button-tertiary-active: #c6c6c8;
  --dark-theme-background-background-hover: rgba(147, 147, 149, 0.16);
  --dark-theme-background-background-active: rgba(147, 147, 149, 0.4);
  --dark-theme-text-text-primary: #f3f3f5;
  --light-theme-support-support-info: #00478f;
  --light-theme-notifications-support-info-border: rgba(0, 102, 204, 1);
  --light-theme-notifications-notification-info-background: #c2e0ff;
  --light-theme-background-background-inverse: #2d2d2f;
  --light-theme-text-text-primary: #131315;
  --border-subtle-02: #dfdfe1;
  --light-theme-tag-blue-background: #c2e0ff;
  --light-theme-tag-blue-text: #00478f;
  --light-theme-focus: #0073e6;
  --light-theme-miscellaneous-interactive: #0073e6;
  --light-theme-background-background-selected: #93939533;
  --light-theme-text-text-disabled: rgba(19, 19, 21, 0.25);
  --light-theme-text-text-on-color: #ffffff;

  --cds-body-02-font-size: 0.875rem;

  //Buttons
  --cds-button-disabled: #c6c6c8;

  //Primary button
  --cds-button-primary: #0073e6;
  --cds-button-primary-hover: #0066cc;
  --cds-button-primary-active: #00478f;

  //Secondary button
  --cds-button-secondary: #464648;
  --cds-button-secondary-hover: #535355;
  --cds-button-secondary-active: #606062;

  //Tertiary button
  --cds-button-tertiary: #005cb8;
  --cds-button-tertiary-hover: #0052a3;
  --cds-button-tertiary-active: #00478f;

  //Danger button
  --cds-button-danger: #e72000;
  --cds-button-danger-primary: #e72000;
  --cds-button-danger-hover: var(--light-theme-button-danger-hover);
  --cds-button-danger-active: #801701;

  //Notifications
  --cds-notification-background-info: #c2e0ff;
  --cds-support-info: #00478f;

  --cds-notification-background-success: #cce5cc;
  --cds-support-success: #007b00;

  --cds-notification-background-warning: #fff3cc;
  --cds-support-warning: #ffc300;

  --cds-notification-background-error: #ffeae5;
  --cds-support-error: #e72000;

  --light-theme-background-background-selected: #93939533;
}

*,
*::before,
*::after {
  box-sizing: unset;
}

b {
  font-weight: 700;
}

.heading-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-right: 2.5rem;

  --cds-text-inverse: var(--light-theme-text-text-primary);
  --cds-button-tertiary: var(--dark-theme-button-button-tertiary);
  --cds-button-tertiary-hover: var(--dark-theme-focus-focus);
  --cds-button-tertiary-active: var(--dark-theme-button-button-tertiary-active);

  --cds-link-primary: var(--border-subtle-02);
  --cds-link-primary-hover: var(--dark-theme-link-link-primary-hover);
  --cds-layer-hover: var(--dark-theme-background-background-hover);
  --cds-background-active: var(--dark-theme-background-background-active);
}

.heading-buttons cds-button[kind="tertiary"] {
  --cds-button-tertiary: var(--dark-theme-button-button-tertiary);
}

.heading-buttons cds-button[kind="ghost"] {
  --cds-button-tertiary: var(--dark-theme-text-text-primary);
}

.heading-buttons cds-button span {
  width: 5rem;
}

.heading-buttons #help-btn span {
  width: 9.5rem;
}

cds-button::part(button) {
  border-radius: 0.25rem;
}

cds-button span {
  width: 11rem;
}

.close-panel-button svg {
  color: var(--light-theme-text-text-primary, #131315);
}

.step-active {
  --cds-border-subtle: var(--light-theme-miscellaneous-interactive);
}

cds-progress-step[vertical] {
  width: fit-content;
}

cds-progress-step::part(cds--progress-label) {
  max-width: initial;
  padding-right: 0.5rem;
}

cds-progress-step::part(cds--progress-label):hover {
  box-shadow: none;
  color: unset;
  cursor: auto;
}

cds-progress-step.step-inactive::part(cds--progress-optional) {
  color: #939395;
}

cds-inline-notification::part(div),
cds-inline-notification,
.cds--inline-notification {
  max-width: 100%;
  border-radius: 0.25rem;
}

cds-actionable-notification::part(div),
cds-actionable-notification,
.cds--actionable-notification {
  max-width: 100%;
  border-radius: 0.25rem;
  box-shadow: none;
}

cds-radio-button-group {
  --cds-text-secondary: var(--light-theme-text-text-primary);
}

cds-radio-button:not(:last-child) {
  margin-bottom: 0.5rem;
}

cds-combo-box::part(title-text) {
  color: var(--light-theme-text-text-primary, #131315);
}

cds-combo-box::part(trigger-button) {
  padding: 0px 3rem 0px 0;
}

cds-combo-box::part(input) {
  outline: none;
}

cds-combo-box:where(:active, :focus)::part(cds--combo-box) {
  outline: 2px solid var(--cds-focus, #0f62fe);
  outline-offset: -2px;
}

cds-combo-box-item[data-loading="true"] {
  display: flex;
  align-items: center;
}

cds-combo-box-item[data-loading="true"]::part(
    cds--list-box__menu-item__option
  ) {
  padding: 0;
  border-top: 0;
}

.top-notification {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

* {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
}

a:link,
cds-breadcrumb-link::part(link) {
  color: var(--light-theme-link-link-primary, #005cb8);
}

a:hover,
cds-breadcrumb-link::part(link):hover {
  color: var(--light-theme-link-link-primary-hover, #00478f);
}

a:visited {
  color: var(--light-theme-link-link-visited, #7c1cdf);
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid var(--border-subtle-02, #dfdfe1);
  padding: 0;
  align-self: stretch;
  width: 100%;
}

.cds--inline-notification-content {
  width: 100%;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

div#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bulleted-list {
  list-style: decimal;
  margin-left: 1.5rem;
}
.bulleted-list-disc {
  list-style: disc;
  margin-left: 1.5rem;
}

.wizard-head-toast {
  position: fixed;
  right: 1.5625rem;
  top: 5rem;
  border-radius: 0.25rem;
  z-index: 999;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.submission-badge {
  width: 31.375rem;
  height: 31.375rem;
  fill: var(--cds-button-primary, #0353e9);
}

.form-header-progress {
  display: flex;
}

/* Recreating the style */
.spacing {
  padding: 1.5rem;
}

.landing-subtitle {
  margin: 1.5rem 0rem 0rem 0rem;
}

.full-centered {
  display: flex;
  padding: 8.125rem 0 2rem 0;
  align-items: center;
  background: var(--light-theme-layer-layer-02, #fff);
  flex-grow: 1;
  margin-top: 3.5rem;
}

.full {
  margin: 0rem;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;
  background: var(--light-theme-background-background, #fff);
  flex-grow: 1;
}

.screen {
  display: flex;
  align-items: stretch;
  background: var(--light-theme-background-background, #fff);
  flex-grow: 1;
  margin-top: 3.5rem;
}

.headers {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1.5rem;
}

.headers-compact {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1.5rem;
}

.headers cds-header {
  height: 3.5rem;
}

.headers a img {
  width: 7.5rem;
  flex-shrink: 0;
}

.heading {
  display: flex;
  padding: 0.9375rem 0.5rem 0.9375rem 0.5rem;
  align-items: flex-start;
  gap: 0.1875rem;
}

.heading-button-transparent {
  display: flex;
  width: 12.375rem;
  padding: 0.1875rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.heading-button {
  display: flex;
  width: 9.6875rem;
  padding: 0.1875rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid var(--dark-theme-button-button-tertiary, #fff);
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.heading-compact-01 {
  color: var(--dark-theme-text-text-primary, #f3f3f5);

  /* Fixed heading styles/heading-compact-01 */

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.01rem;
}

.heading-compact-01-dark {
  color: var(--light-theme-text-text-primary, #131315) !important;
}

.heading-01,
cds-accordion-item.grouping-05-internal::part(title) {
  color: var(--light-theme-text-text-primary, #131315);
  /* Fixed heading styles/heading-01 */
  font-family: BC Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01rem;
}

.heading-02 {
  color: var(--light-theme-text-text-primary, #131315) !important;

  /* Fixed heading styles/heading-02 */

  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.heading-03 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-03 */

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.heading-04 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-04 */

  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

.heading-05 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-05 */

  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.fluid-heading-05 {
  align-self: stretch;
  color: var(--light-theme-text-text-primary, #131315);

  /* Fluid styles/MAX/fluid-heading-05 */

  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.375rem;
  margin-bottom: 1.5rem;
}

.fluid-paragraph-01 {
  align-self: stretch;
  color: var(--light-theme-text-text-secondary, #606062);

  /* Fluid styles/MAX/fluid-paragraph-01 */

  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.body-01 {
  color: var(--light-theme-text-text-secondary, #606062);

  /* Body styles/body-01 */

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01rem;
}

.body-02 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Body styles/body-02 */
  font-family: BC Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01rem;
}

.body-compact-01,
cds-actionable-notification * {
  color: var(--light-theme-text-text-primary, #131315);

  /* Body styles/body-compact-01 */

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01rem;
}

.content {
  flex-grow: 1;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-landing {
  margin: 0px;
  margin-left: 2.5rem;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  --cds-icon-primary: var(--light-theme-miscellaneous-interactive);
}

.form-header-application-submitted {
  width: 47%;
  gap: 0;
}

.form-header-application-submitted cds-button {
  width: 15rem;
  margin-top: 3rem;
}

.form-header-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-header-progress {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}

.form-steps {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.form-steps-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-01-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-steps-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.5rem;
}

.form-steps-section-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-steps-section-04 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-footer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.form-footer-group {
  display: flex;
  width: 34.75rem;
  align-items: flex-start;
  gap: 1rem;
}

.form-footer-group-next {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.form-footer-group-buttons {
  display: flex;
  gap: 1rem;
}

.frame-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.frame-02 {
  align-self: stretch;
  display: inline-flex;
  flex-direction: column;
  gap: 0.75rem;
}

.frame-03 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.3125rem;
  row-gap: 1.5rem;
}

.card {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
  max-width: 50.4375rem;
}

.divider {
  margin: 1.5rem 0 1.5rem 0;
}

.grouping-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grouping-02 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.grouping-03 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.grouping-04 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.grouping-04-label {
  display: flex;
  width: 18rem;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
}

.grouping-05 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
}

.grouping-05-internal {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background: #fff;
  padding: 1rem;
}

.grouping-05-short {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
}

.grouping-06 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.grouping-07 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.grouping-08 {
  display: flex;
  padding: 0.9rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
  flex: 1 0 0;
}

.grouping-09 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.grouping-10 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.grouping-10-internal {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 1rem;
}

.grouping-11 {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  align-items: flex-start;
  gap: 0.25rem;
}

.grouping-12 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grouping-13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
}
.grouping-14 {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.grouping-15 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.grouping-16 {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.grouping-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.grouping-18 {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.grouping-19 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.grouping-20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
}

.grouping-21 {
  display: flex;
  padding: 0;
  margin: 0 !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.grouping-divider {
  margin: 0.5rem 0;
}

.label-01 {
  align-self: stretch;
  color: var(--light-theme-text-text-secondary, #606062);

  /* Utility styles/label-01 */

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.02rem;
}

.text-01 {
  display: flex;
  width: 18rem;
  padding: 0.6875rem 0rem;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.display-block-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.25rem;
}

.display-block-icon-wrapper {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  align-items: flex-start;
  align-self: stretch;
}

.review-icon-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cds-text-input-label {
  color: var(--light-theme-text-text-primary, #131315);
  font-family: BC Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  padding-bottom: 0.5rem;
}

.cds-text-input-required-label {
  color: var(--light-theme-text-text-error, #b32001);
}

cds-modal::part(dialog) {
  border-radius: 0.5rem;
}

cds-modal-close-button::part(button) {
  border-radius: 0.5rem;
}

cds-modal-footer {
  padding: 1rem 1rem 1rem 1rem;
}

cds-modal-footer-button::part(button) {
  border-radius: 0.25rem;
  height: 75%;
  margin-bottom: 0;
  margin-top: auto;
  white-space: nowrap;

  --cds-button-danger-hover: var(--light-theme-button-danger-hover, #b32001);
}

.cds--modal-close-btn {
  margin-right: 0.25rem;
}

.cds--modal-submit-btn {
  margin-left: 0.25rem;
}

cds-modal {
  height: 100%;
}

.paginator {
  width: calc(100vw - 16rem);
}

.headers-compact ~ .full {
  margin-top: 3rem;
}

cds-header {
  --cds-background: #0073e6;
}

cds-header-name::part(link) {
  display: flex;
  gap: 1rem;
  padding: inherit;
  border: inherit;
}

cds-header-global-action {
  display: flex;
  flex: 0 1 0%;
  justify-content: flex-end;
}

// Needs an id to beat Carbon shipped style on specificity.
#my-profile-action[active]::part(button) {
  background: var(--light-theme-layer-layer-02, #fff) !important;
}

cds-header-menu-button::part(svg) {
  width: 1rem;
  height: 1rem;
}

cds-header-menu-button:not([active])::part(svg) {
  fill: var(--light-theme-text-text-on-color, #fff);
}

cds-header-global-action svg {
  fill: var(--dark-theme-focus-focus);
}

cds-header-global-action[active] svg {
  fill: #000;
}

cds-side-nav-link svg {
  fill: var(--light-theme-link-link-primary, #005cb8);
}

cds-side-nav-link:hover {
  background: var(
    --light-theme-background-background-hover,
    rgba(147, 147, 149, 0.12)
  );
}

cds-side-nav-link:active {
  background: var(
    --light-theme-background-background-active,
    rgba(147, 147, 149, 0.5)
  );
}

cds-header-global-action[active]::part(button):hover,
cds-header-global-action[active]::part(button):active,
cds-header-global-action[active]::part(button):focus {
  background: var(--cds-layer) !important;
  border-color: var(--cds-layer) !important;
}

cds-header a.bclogotop {
  margin-left: 2.5rem;
}

.unbolded::part(link) {
  font-weight: 400;
}

.side-nav-link--non-link {
  pointer-events: none;
}

.side-nav-link--non-link::part(link) {
  pointer-events: none;
  cursor: default;
  outline: none; // prevents displaying outline border when clicked
}

.disabled {
  color: var(--light-theme-text-text-disabled);
  fill: var(--light-theme-text-text-disabled);
}

cds-side-nav-items.lower-side-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2.5rem;
}

.content-stretched {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.submission-list,
.submission-content {
  padding: 2.5rem 0rem 2.5rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 0%;
  width: calc(100vw - 18.5rem);
}

cds-side-nav::part(
    div cds--side-nav__navigation cds--side-nav cds--side-nav--ux
  ) {
  border-right: solid 1px var(--light-theme-background-background-selected);
}
cds-side-nav {
  flex: 1;
  display: flex;
  position: fixed;
  z-index: 10;
}

.submission-content {
  padding: 2.5rem 2rem;
  gap: 3rem;
  flex: 4;
}

cds-accordion-item[open]:not([disabled])::part(content),
:host(cds-accordion-item[open]:not([disabled]))
  .cds-ce--accordion__content--md {
  padding-right: 1rem !important;
  padding-top: 0rem;
  padding-bottom: inherit;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mg-sd-25 {
  margin: 0rem 2.5rem;
}
.sp-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.mg-tl-2 {
  margin-top: 2rem;
  margin-left: 2rem;
}

.submission-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submission-details--title {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

cds-table {
  table-layout: fixed;
  border-collapse: separate;
}

cds-table-header-row,
cds-table-row {
  box-shadow: 0 0.0625rem 0 0 var(--light-theme-border-subtle-01, #dfdfe1) inset;
}

cds-table-row:hover {
  cursor: pointer;
}

cds-table-row[even] {
  background: var(--light-theme-layer-layer-01, #f3f3f5);
}
cds-table-row[even] cds-table-cell {
  background-color: unset;
}
cds-table-row[odd] {
  background: var(--light-theme-layer-layer-02, #fff);
}

cds-table-row[even]:hover {
  background-color: var(--dark-theme-background-background-active);
}
cds-table-row[odd]:hover {
  background-color: var(--dark-theme-background-background-hover);
}

cds-table-header-cell {
  background: var(--light-theme-layer-accent-layer-accent-01, #dfdfe1);
}

:is(cds-table-header-cell, cds-table-cell):is(:first-child, :last-child) {
  padding: 0;
  width: 1.5rem;
}

cds-pagination {
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid var(--light-theme-border-border-subtle-01, #dfdfe1);
  border-bottom: 1px solid var(--light-theme-border-border-subtle-01, #dfdfe1);
  background: var(--light-theme-layer-accent-layer-accent-01, #dfdfe1);
}

cds-tag {
  margin: 0;
}

cds-header-panel[expanded] {
  width: min(
    25rem,
    100%
  ); // instead of mixing min-width or max-width, this works perfectly while animating the panel opening/closing.
  background: var(--light-theme-layer-layer-02, #fff);
}

// Copied from .cds--side-nav__overlay-active in @carbon/styles/css/styles.css so to make it available on all breakpoints
.overlay-active {
  z-index: 6000;
  width: 100vw;
  height: 100vh;
  background-color: var(--cds-overlay, rgba(22, 22, 22, 0.5));
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.5, 0, 0.1, 1),
    background-color 300ms cubic-bezier(0.5, 0, 0.1, 1);
}

.date-label {
  margin-bottom: 1rem;
}

/* Small (up to 671px) */
@media screen and (max-width: 671px) {
  .wizard-head-toast {
    right: 0.5rem;
    top: 0.5rem;
  }

  cds-modal {
    height: 100%;
    width: 100%;
  }

  cds-modal::part(dialog) {
    max-height: 20.5rem;
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
  }

  .cds--modal-close-btn,
  .cds--modal-submit-btn {
    margin: 0rem;
    width: 100%;
  }

  cds-modal-footer {
    display: flex;
    padding: 0rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }

  cds-modal#reject-modal::part(dialog) {
    max-height: 37rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12,
  cds-modal#approve-modal cds-modal-body {
    margin-bottom: 3rem;
  }

  .screen {
    padding: 1.5rem 1rem 2.5rem 1rem;
    flex-direction: column;
    align-items: center;
  }

  .headers {
    gap: 1rem;
    flex-shrink: 0;
  }

  .headers a img {
    width: 2.5rem;
  }

  .heading span:last-child {
    display: none;
  }

  .form-header {
    align-self: stretch;
  }

  .form-header-progress {
    flex-direction: column;
  }

  .form-steps {
    align-self: stretch;
    width: 18rem;
  }

  .form-steps-01 {
    align-self: stretch;
    width: 18rem;
  }

  .form-steps-01-title {
    gap: 0.5rem;
    align-self: stretch;
  }

  .form-footer-group-buttons {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .full-centered {
    padding: 1.5rem 1rem 2rem 1rem;
  }

  .form-header-application-submitted {
    width: unset;
  }

  .form-header-application-submitted cds-button {
    margin-top: 2rem;
  }

  .frame-03 {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .fluid-heading-05 {
    /* Fluid styles/SM/fluid-heading-05 */
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .fluid-paragraph-01 {
    /* Fluid styles/XLG/fluid-paragraph-01 */
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .submission-badge {
    width: 18rem;
    height: 18rem;
  }

  .submission-sidebar {
    width: 0rem;
  }

  .submission-content {
    padding: 2.5rem 1rem !important;
  }

  .grouping-10 {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .grouping-10-internal {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .grouping-15 {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 1rem;
  }

  .mg-sd-25 {
    margin: 0rem 1rem 2rem 1rem;
  }

  .submission-list {
    padding: 2.5rem 0rem;
  }
  .paginator {
    width: 100vw;
  }
  .submission-details--title svg {
    width: 5rem;
  }
  #datatable {
    position: relative;
    right: 0;
    overflow-x: scroll;
  }
  cds-table {
    width: 82rem;
  }
}

/* Medium (from 672px to 1055px) */
@media screen and (min-width: 672px) and (max-width: 1055px) {
  /* Lower range width is still a mess */

  .screen {
    padding: 2.5rem 2rem;
    align-items: center;
  }

  .heading {
    padding: 0.9375rem 0.5rem 0.9375rem 0.5rem;
    flex-shrink: 0;
  }

  .form-header {
    align-self: stretch;
  }

  .full-centered {
    padding: 2rem 3.375rem 2rem 2.4375rem;
  }

  .form-header-application-submitted {
    width: unset;
  }

  .form-header-application-submitted cds-button {
    margin-top: 2rem;
  }

  .frame-03 {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .fluid-heading-05 {
    /* Fluid styles/MED/fluid-heading-05 */
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .fluid-paragraph-01 {
    /* Fluid styles/XLG/fluid-paragraph-01 */
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .submission-badge {
    width: 18rem;
    height: 18rem;
  }

  .grouping-10 .grouping-11:first-child {
    width: 40%;
  }

  cds-modal#reject-modal::part(dialog),
  cds-modal#approve-modal::part(dialog) {
    width: 95%;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12,
  cds-modal#approve-modal cds-modal-body {
    margin-bottom: 3rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 {
    height: 19rem;
  }

  cds-modal#reject-modal cds-modal-footer,
  cds-modal#approve-modal cds-modal-footer {
    height: 6rem;
    margin: -2rem 0 -2rem 0;
    padding: 0 1rem 1rem 1rem !important;
  }

  .mg-sd-25 {
    margin: 0rem 2.5rem 2rem 2rem;
  }

  cds-table-header-title {
    margin-left: 1rem;
  }

  .submission-list {
    padding: 2.5rem 0rem;
  }

  .submission-content {
    padding: 2.5rem 2rem;
  }

  .paginator {
    width: 100vw;
  }
  #datatable {
    position: relative;
    right: 0;
    overflow-x: scroll;
  }
  cds-table {
    width: 82rem;
  }
}

/* Large (from 1056px to 1311px) */
@media screen and (min-width: 1056px) and (max-width: 1311px) {
  .screen {
    padding: 1rem 2rem 2rem;
    align-items: center;
  }

  .grouping-02,
  .grouping-03 {
    width: 50.4375rem;
  }

  .form-header-application-submitted cds-button {
    margin-top: 2rem;
  }

  .frame-03 {
    column-gap: 4.0625rem;
  }

  .fluid-heading-05 {
    /* Fluid styles/MED/fluid-heading-05 */
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .fluid-paragraph-01 {
    /* Fluid styles/XLG/fluid-paragraph-01 */
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .submission-badge {
    width: 16rem;
    height: 16rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 {
    margin: 1rem 1rem 3rem 1rem;
    height: 19rem;
  }
  cds-modal#reject-modal cds-modal-footer,
  cds-modal#approve-modal cds-modal-footer {
    height: 6rem;
    margin: -2rem 0 -2rem 0;
    padding: 0 1rem 1rem 1rem !important;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-02,
  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-03 {
    width: auto;
  }

  div#screen div#title {
    margin-bottom: 2rem;
  }
  .submission-content {
    padding: 2.5rem 2rem 2.5rem 18.5rem;
    max-width: calc(100vw - 21rem);
  }

  #datatable {
    position: relative;
    right: 0;
    overflow-x: scroll;
  }
  cds-table {
    min-width: 66rem;
  }
}

/* X-Large (from 1312px to 1583px) */
@media screen and (min-width: 1312px) and (max-width: 1583px) {
  .screen {
    padding: 2.5rem 2rem;
    align-items: center;
  }

  .grouping-02,
  .grouping-03 {
    width: 50.4375rem;
  }

  .frame-03 {
    column-gap: 3.3125rem;
  }

  .fluid-heading-05 {
    /* Fluid styles/XLG/fluid-heading-05 */
    font-size: 3rem;
    line-height: 56px;
  }

  .fluid-paragraph-01 {
    /* Fluid styles/XLG/fluid-paragraph-01 */
    font-size: 28px;
    line-height: 2.25rem;
  }

  .submission-badge {
    width: 22rem;
    height: 22rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 {
    margin: 1rem 1rem 3rem 1rem;
    height: 19rem;
  }
  cds-modal#reject-modal cds-modal-footer,
  cds-modal#approve-modal cds-modal-footer {
    height: 6rem;
    margin: -2rem 0 -2rem 0;
    padding: 0 1rem 1rem 1rem !important;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-02,
  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-03 {
    width: auto;
  }
  div#screen div#title {
    margin-bottom: 2rem;
  }

  .submission-content {
    padding: 2.5rem 2rem 2.5rem 18.5rem;
    max-width: calc(100vw - 21rem);
  }
}

/* XX-Large (from 1584px to 1783px) */
@media screen and (min-width: 1584px) and (max-width: 1783px) {
  .screen {
    padding: 2.5rem 2rem;
    align-items: center;
  }

  .grouping-02,
  .grouping-03 {
    width: 50.4375rem;
  }

  .frame-03 {
    column-gap: 4.125rem;
  }

  .submission-badge {
    width: 29.8125rem;
    height: 29.8125rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 {
    margin: 1rem 1rem 3rem 1rem;
    height: 19rem;
  }
  cds-modal#reject-modal cds-modal-footer,
  cds-modal#approve-modal cds-modal-footer {
    height: 6rem;
    margin: -2rem 0 -2rem 0;
    padding: 0 1rem 1rem 1rem !important;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-02,
  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-03 {
    width: auto;
  }

  div#screen div#title {
    margin-bottom: 2rem;
  }

  .submission-content {
    padding: 2.5rem 2rem 2.5rem 18.5rem;
    max-width: calc(100vw - 21rem);
  }
}

/* XXX-Large (1784px and above) */
@media screen and (min-width: 1784px) {
  .screen {
    padding: 1rem 7.75rem 2.5rem;
    align-items: center;
  }

  .grouping-02,
  .grouping-03 {
    width: 50.4375rem;
  }

  .frame-03 {
    column-gap: 4.3125rem;
  }

  .submission-badge {
    width: 31.375rem;
    height: 31.375rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 {
    margin: 1rem 1rem 3rem 1rem;
    height: 19rem;
  }
  cds-modal#reject-modal cds-modal-footer,
  cds-modal#approve-modal cds-modal-footer {
    height: 6rem;
    margin: -2rem 0 -2rem 0;
    padding: 0 1rem 1rem 1rem !important;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-02,
  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-03 {
    width: auto;
  }
  div#screen div#title {
    margin-bottom: 2rem;
  }

  .submission-content {
    padding: 2.5rem 2.5rem 2.5rem 18.5rem;
    max-width: calc(100vw - 21rem);
  }
}
