@use "sass:map";
@use "@carbon/styles";
@use '@carbon/styles/scss/theme';
@use '@carbon/themes';
@use "@bcgov-nr/nr-fsa-theme/design-tokens/type-family.scss" as typeFamily;
@use '@bcgov-nr/nr-fsa-theme/design-tokens/light-tags.scss' as light-tag-overrides;

// adds cds-tag related tokens
@include theme.add-component-tokens(light-tag-overrides.$light-tag-token-overrides);

:root {
  // the empty list passed in prevents from emitting the full theme
  @include themes.theme(());

  --others-transparent-transparent: rgba(255, 255, 255, 0);
  --light-theme-border-subtle-01: #dfdfe1;
  --light-theme-button-button-primary: #0073e6;
  --light-theme-button-button-secondary: #464648;
  --light-theme-button-button-tertiary: #005cb8;
  --light-theme-button-danger-secondary: #b32001;
  --light-theme-button-danger-hover: #b32001;
  --cds-focus: #0073e6;
  --light-theme-layer-accent-layer-accent-01: #dfdfe1;
  --light-theme-layer-layer-01: #f3f3f5;
  --light-theme-layer-layer-02: #fff;
  --light-theme-link-link-primary: #005cb8;
  --light-theme-link-link-primary-hover: #00478f;
  --light-theme-link-link-secondary: #00478f;
  --light-theme-link-link-secondary-hover: #00478f;
  --light-theme-link-link-inverse: #5cadff;
  --light-theme-link-link-visited: #7c1cdf;
  --dark-theme-link-link-primary: #5cadff;
  --dark-theme-link-link-primary-hover: #85c2ff;
  --dark-theme-link-link-secondary: #85c2ff;
  --dark-theme-link-link-secondary-hover: #005cb8;
  --dark-theme-link-link-inverse: #005cb8;
  --dark-theme-link-link-visited: #c59af1;
  --dark-theme-focus-focus: #ffffff;
  --dark-theme-button-button-tertiary: #ffffff;
  --dark-theme-button-button-tertiary-active: #c6c6c8;
  --dark-theme-background-background-hover: rgba(147, 147, 149, 0.16);
  --dark-theme-background-background-active: rgba(147, 147, 149, 0.4);
  --dark-theme-text-text-primary: #f3f3f5;
  --light-theme-support-support-info: #00478f;
  --light-theme-notifications-support-info-border: rgba(0, 102, 204, 1);
  --light-theme-notifications-notification-info-background: #c2e0ff;
  --light-theme-background-background-inverse: #2d2d2f;
  --light-theme-text-text-primary: #131315;
  --light-theme-text-text-secondary: #606062;
  --border-subtle-02: #dfdfe1;
  --light-theme-tag-blue-background: #c2e0ff;
  --light-theme-tag-blue-text: #00478f;
  --light-theme-focus: #0073e6;
  --light-theme-miscellaneous-interactive: #0073e6;
  --light-theme-background-background-selected: #93939533;
  --light-theme-text-text-disabled: rgba(19, 19, 21, 0.25);
  --light-theme-text-text-on-color: #ffffff;

  --cds-body-02-font-size: 0.875rem;
  --heading-compact-02-font-size-rem: 0.875; // This is used to perform calculations only.
  --heading-compact-02-font-size: calc(
    var(--heading-compact-02-font-size-rem) * 1rem
  );

  //Buttons
  --cds-button-disabled: #c6c6c8;

  //Primary button
  --cds-button-primary: #0073e6;
  --cds-button-primary-hover: #0066cc;
  --cds-button-primary-active: #00478f;

  //Secondary button
  --cds-button-secondary: #464648;
  --cds-button-secondary-hover: #535355;
  --cds-button-secondary-active: #606062;

  //Tertiary button
  --cds-button-tertiary: #005cb8;
  --cds-button-tertiary-hover: #0052a3;
  --cds-button-tertiary-active: #00478f;

  //Danger button
  --cds-button-danger: #e72000;
  --cds-button-danger-primary: #e72000;
  --cds-button-danger-hover: var(--light-theme-button-danger-hover);
  --cds-button-danger-active: #801701;

  //Primary link
  --cds-link-primary: #005cb8;

  //Notifications
  --cds-notification-background-info: #c2e0ff;
  --cds-support-info: #00478f;

  --cds-notification-background-success: #cce5cc;
  --cds-support-success: #007b00;

  --cds-notification-background-warning: #fff3cc;
  --cds-support-warning: #ffc300;

  --cds-notification-background-error: #ffeae5;
  --cds-support-error: #e72000;

  --light-theme-background-background-selected: #93939533;

  //Layout
  --header-height: 3.5rem;
  --staff-header-height: 3.0625rem;
  --staff-tabs-height: 3rem;
  --tab-header-height: 7rem;

  //Data-table
  --col-padding-rem: 1.5;

  /*
  The expected width of the scroll bar.
  While this might not match the real value, it should help to make a rough adjustment, at least.
  The value is in pixels instead of rem because it shouldn't vary with text resize.
  */
  --scroll-bar-width-px: 15;
  --scroll-bar-width: calc(1rem * var(--scroll-bar-width-px) / 16);

  --tab-panel-padding: 2.5rem;
  --tab-panel-gap: 2rem;

  --dropdown-list-max-block-size: 13.75rem;

  --modal-content-padding-block-end: 3rem;
}

@media screen and (hover: none) {
  :root {
    --scroll-bar-width-px: 0; // The scroll bar is hidden on touch devices.
  }
}

*,
*::before,
*::after {
  box-sizing: unset;
}

//This ensures that the BC Sans font applies to all text elements across the entire application
body {
  font-family: BC Sans, sans-serif !important;
}

b {
  font-weight: 700;
}

.heading-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-right: 2.5rem;

  --cds-text-inverse: var(--light-theme-text-text-primary);
  --cds-button-tertiary: var(--dark-theme-button-button-tertiary);
  --cds-button-tertiary-hover: var(--dark-theme-focus-focus);
  --cds-button-tertiary-active: var(--dark-theme-button-button-tertiary-active);

  --cds-link-primary: var(--border-subtle-02);
  --cds-link-primary-hover: var(--dark-theme-link-link-primary-hover);
  --cds-layer-hover: var(--dark-theme-background-background-hover);
  --cds-background-active: var(--dark-theme-background-background-active);
}

.heading-buttons cds-button[kind="tertiary"] {
  --cds-button-tertiary: var(--dark-theme-button-button-tertiary);
}

.heading-buttons cds-button[kind="ghost"] {
  --cds-button-tertiary: var(--dark-theme-text-text-primary);
}

.heading-buttons cds-button[kind="ghost"]::part(button) {
  // dark theme
  --cds-focus: var(--dark-theme-focus-focus);
  --cds-background-hover: var(--dark-theme-background-background-hover);
  --cds-background-active: var(--dark-theme-background-background-active);

  color: var(--light-theme-text-text-on-color);
}

.heading-buttons cds-button span {
  width: 5rem;
}

.heading-buttons #help-btn span {
  width: 9.5rem;
}

cds-button::part(button) {
  border-radius: 0.25rem;
}

cds-button span {
  width: 11rem;
}

#add-delivery-btn {
  width: 18rem;

  span {
    width: unset;
  }
}

.close-panel-button svg {
  color: var(--light-theme-text-text-primary, #131315);
}

.hide-show-button cds-button[kind="ghost"]::part(button) {
  width: 8rem;

  // dark theme
  --cds-focus: var(--dark-theme-focus-focus);
  --cds-background-hover: var(--dark-theme-background-background-hover);
  --cds-background-active: var(--dark-theme-background-background-active);
}

.step-active {
  --cds-border-subtle: var(--light-theme-miscellaneous-interactive);
}

cds-progress-step[vertical] {
  width: fit-content;
}

cds-progress-step::part(cds--progress-step-button) {
  cursor: auto;
}

cds-progress-step::part(cds--progress-label) {
  max-width: initial;
  padding-right: 0.5rem;
}

cds-progress-step[vertical]::part(cds--progress-label) {
  padding-right: 0;
}

cds-progress-step::part(cds--progress-label):hover {
  box-shadow: none;
  color: unset;
  cursor: auto;
}

cds-progress-step.step-inactive::part(cds--progress-optional) {
  color: #939395;
}

cds-inline-notification {
  min-width: 7.6875rem;
}

cds-inline-notification::part(div),
cds-inline-notification::before,
cds-inline-notification,
.cds--inline-notification {
  max-width: 100%;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

cds-inline-notification::part(cds--inline-notification__details) {
  margin-right: 1rem;
}

cds-actionable-notification::part(div),
cds-actionable-notification,
.cds--actionable-notification {
  max-width: 100%;
  border-radius: 0.25rem;
  box-shadow: none;
}

cds-radio-button-group,
cds-checkbox-group {
  --cds-text-secondary: var(--light-theme-text-text-primary);
}

:is(
    cds-radio-button-group,
    cds-checkbox-group
  )[data-required-label="true"]::part(legend)::before {
  color: var(--light-theme-text-text-error, #b32001);
  content: "* ";
}

cds-radio-button:not(:last-child) {
  margin-bottom: 0.5rem;
}

:is(cds-combo-box, cds-multi-select, cds-dropdown)::part(title-text) {
  color: var(--light-theme-text-text-primary, #131315);
}

:is(cds-combo-box, cds-multi-select, cds-dropdown)[data-required-label="true"]::part(
    title-text
  )::before {
  color: var(--light-theme-text-text-error, #b32001);
  content: "* ";
}

cds-combo-box::part(trigger-button) {
  padding: 0px 3rem 0px 0;
}

cds-combo-box::part(input) {
  outline: none;
  padding-inline-end: 1rem;
}

cds-combo-box:where(:active, :focus)::part(cds--combo-box) {
  outline: 2px solid var(--cds-focus, #0f62fe);
  outline-offset: -2px;
}

cds-combo-box-item[data-loading="true"] {
  display: flex;
  align-items: center;
}

cds-combo-box-item[data-loading="true"]::part(
    cds--list-box__menu-item__option
  ) {
  padding: 0;
  border-top: 0;
}

cds-combo-box#identificationProvince::part(menu-body) {
  width: min-content;
  min-width: 100%;
  max-width: 200%;
}

.top-notification {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

* {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
}

a:link,
cds-breadcrumb-link::part(link) {
  color: var(--light-theme-link-link-primary, #005cb8);
}

a:hover,
cds-breadcrumb-link::part(link):hover {
  color: var(--light-theme-link-link-primary-hover, #00478f);
}

a:visited {
  color: var(--light-theme-link-link-visited, #7c1cdf);
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid var(--border-subtle-02, #dfdfe1);
  padding: 0;
  align-self: stretch;
  width: 100%;
}

.cds--inline-notification-content {
  width: 100%;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

div#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bulleted-list {
  list-style: decimal;
  margin-left: 1.5rem;
}
.bulleted-list-disc {
  list-style: disc;
  margin-left: 1.5rem;
}

.wizard-head-toast {
  position: fixed;
  right: 1.5rem;
  top: 5rem;
  border-radius: 0.25rem;
  z-index: 9000;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.submission-badge {
  width: 31.375rem;
  height: 31.375rem;
  fill: var(--cds-button-primary, #0073e6);
}

.form-header-progress {
  display: flex;
}

/* Recreating the style */
.spacing {
  padding: 1.5rem;
}

.landing-subtitle {
  margin: 1.5rem 0rem 0rem 0rem;
}

.full-centered {
  display: flex;
  padding: 8.125rem 0 2rem 0;
  align-items: center;
  background: var(--light-theme-layer-layer-02, #fff);
  flex-grow: 1;
  margin-top: var(--header-height);
}

.full {
  margin: 0rem;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;
  background: var(--light-theme-background-background, #fff);
  flex-grow: 1;
}

.screen {
  display: flex;
  align-items: stretch;
  background: var(--light-theme-background-background, #fff);
  flex-grow: 1;
  margin-top: var(--header-height);
}

.headers {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1.5rem;
}

.headers-compact {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1.5rem;
}

.headers cds-header {
  height: var(--header-height);
}

.headers a img {
  width: 7.5rem;
  flex-shrink: 0;
}

.heading {
  display: flex;
  padding: 0.9375rem 0.5rem 0.9375rem 0.5rem;
  align-items: flex-start;
  gap: 0.1875rem;
}

.heading-button-transparent {
  display: flex;
  width: 12.375rem;
  padding: 0.1875rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.heading-button {
  display: flex;
  width: 9.6875rem;
  padding: 0.1875rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid var(--dark-theme-button-button-tertiary, #fff);
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.heading-compact-01,
cds-accordion-item::part(title) {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-compact-01 */

  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0;
}

.heading-compact-02 {
  color: var(--light-theme-text-text-on-color, #ffffff);

  /* Fixed heading styles/heading-compact-02 */

  font-size: var(--heading-compact-02-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.01rem;
}

.weight-700 {
  font-weight: 700;
}

cds-tab > div {
  color: var(--light-theme-text-text-primary, #131315);
  font-size: var(--heading-compact-02-font-size);
  font-style: normal;
  letter-spacing: 0.01rem;

  width: 9.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-theme-text-text-primary {
  color: var(--light-theme-text-text-primary, #131315) !important;
}

.light-theme-text-text-secondary {
  color: var(--light-theme-text-text-secondary, #606062) !important;
}

/*
Note: numbers in heading tags h1-h6 do not match the number in the matching class.
Class names come from our design definition.
Tags were matched to class names according to the level they are USUALLY applied in the pages as
designed.
Class names should be useful when the semantic of a specific tag level wouldn't make sense.
*/

h5,
.heading-07,
cds-accordion-item.grouping-05-internal::part(title) {
  color: var(--light-theme-text-text-primary, #131315);
  /* Fixed heading styles/heading-07 */
  font-family: BC Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01rem;
}

h4,
.heading-06 {
  color: var(--light-theme-text-text-primary, #131315) !important;

  /* Fixed heading styles/heading-06 */

  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

h3,
.heading-05 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-05 */

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

h2,
.heading-04 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-04 */

  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

.heading-02 {
  color: var(--light-theme-text-text-primary, #131315);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

h1,
.heading-03 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-03 */

  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

h2.fluid,
.fluid-heading-04 {
  align-self: stretch;
  color: var(--light-theme-text-text-primary, #131315);

  /* Fluid styles/MAX/fluid-heading-04 */

  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.375rem;
  margin-bottom: 1.5rem;
}

.fluid-paragraph-01 {
  align-self: stretch;
  color: var(--light-theme-text-text-secondary, #606062);

  /* Fluid styles/MAX/fluid-paragraph-01 */

  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.body-01 {
  color: var(--light-theme-text-text-secondary, #606062);

  /* Body styles/body-01 */

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.body-02 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Body styles/body-02 */
  font-family: BC Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01rem;
}

.body-compact-01,
cds-actionable-notification * {
  color: var(--light-theme-text-text-primary, #131315);

  /* Body styles/body-compact-01 */

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.01rem;
}

.body-compact-02 {
  font-size: 0.8712rem;
  font-weight: 700;
  line-height: 1.12rem;
  letter-spacing: 0.01rem;
}

.content {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-landing {
  margin: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  --cds-icon-primary: var(--light-theme-miscellaneous-interactive);
}

.form-header-application-submitted {
  width: 47%;
  gap: 0;
}

.form-header-application-submitted cds-button {
  width: 15rem;
  margin-top: 3rem;
}

.form-header-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-header-progress {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}

.form-steps,
.form-steps-staff {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 50.4375rem;
}

.form-steps-staff {
  max-width: 42.5rem;
}

.form-steps-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.form-steps-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-01-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-steps-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.5rem;
  max-width: 50.4375rem;
}

.form-steps-section-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-steps-section-04 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-footer {
  align-self: stretch;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}

.form-footer-group {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}

.form-footer-group-next {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  gap: 1rem;
}

.form-group-buttons {
  display: flex;
  gap: 1rem;

  &--stretched {
    cds-button {
      flex: 1;

      &::part(button) {
        // We don't need this padding since the button is already stretched thanks to "flex: 1".
        // This allows adjacent buttons to have the same size.
        padding-inline-end: unset;
      }
    }
  }
}

.form-edit, .tab-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 41rem;
  width: 100%;

  .grouping-02, .grouping-03 {
    width: 100%;
  }
}

.tab-form {
  max-width: 36rem;
}

.frame-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.frame-02 {
  align-self: stretch;
  display: inline-flex;
  flex-direction: column;
  gap: 0.75rem;
}

.frame-03 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.3125rem;
  row-gap: 1.5rem;
}

.card {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
  max-width: 50.4375rem;
  box-sizing: border-box;
}

.card-02 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
  box-sizing: border-box;
}

.card-03 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
  max-width: 50.4375rem;
}

.full-width-fixed-table {
  width: 100%; 
  table-layout: fixed;
}

.history-meta-section {
  padding-top: 1.5rem;
}

.history-indicator-line {
  border-left: 0.1rem solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.skeleton-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6.625rem;
}

.icon-label-inline {
  display: inline-flex; 
  align-items: center; 
  gap: 0.25rem; 
}

del {
  color: var(--cds-helper-text, #79797B);
}

.table-container {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding-right: 0.5rem;
}

.divider {
  margin: 1.5rem 0 1.5rem 0;
}

.combined-inputs {
  cds-combo-box::part(helper-text), cds-text-input [slot] {
    display: none;
  }
}

.field-error {
  display: block;
  overflow: visible;
  max-height: 12.5rem;
  font-weight: 400;
  color: var(--cds-text-error, #da1e28);
}

.grouping-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grouping-02 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;

  // Defining as an adjacent class to reach the specificity level needed.
  &.grouping-02 {
    &--width-32rem {
      width: 32rem;
    }
    
    &--width-9rem {
      width: 9rem;
    }

    &--width-8rem {
      width: 8rem;
    }
  }
}

.grouping-03 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;

  &.grouping-03 {
    &--width-20_5rem {
      width: 20.5rem;;
    }

    &--width-32rem {
      width: 32rem;
    }
  }
}

.form-steps-staff .frame-01 {
  width: 42.5rem;
}

.form-steps-staff :is(.grouping-02, .grouping-03) {
  width: 100%;
}

.form-steps-staff {
  cds-accordion-item {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background: #fff;
    padding: 1rem 1rem 1rem 1rem;

    .frame-01 {
      width: 100%;
    }
  }
}

.grouping-03:has(#identificationType) {
  width: 20.75rem;
}

.grouping-03:has(#identificationProvince),
.grouping-02:has(#clientIdentification) {
  width: 9.875rem;
}
.grouping-02:has(#clientTypeOfId) {
  width: 9.875rem;
}
.grouping-02:has(#clientIdNumber) {
  width: 9.875rem;
}

.grouping-04 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.grouping-04-label {
  display: flex;
  width: 18rem;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
}

.grouping-05 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
}

.grouping-05-internal {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background: #fff;
  padding: 1rem;
}

.grouping-05-short {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
}

.grouping-06 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.grouping-07 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.grouping-08 {
  display: flex;
  padding: 0.9rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
  flex: 1 0 0;
}

.grouping-09 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.grouping-10 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.grouping-10-internal {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 1rem;
}

.grouping-11 {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  align-items: flex-start;
  gap: 0.25rem;
}

.label-skeleton::part(p) {
  width: 2.5rem;
  height: 0.5rem;
  margin-block-end: 0.25rem;
}

.value-skeleton::part(p) {
  width: 18rem;
  height: 2rem;
}

.heading-03-skeleton {
  display: flex;
  height: 2.5rem;
  width: 14.375rem;
  align-items: center;

  &::part(p) {
    height: 0.5rem;
    margin-block-end: 0;
  }
}

.heading-05-skeleton {
  padding: 16px 16px 16px 0px;

  &::part(p) {
    width: 24rem;
    height: 0.625rem;
    margin-block-end: 0;
  }
}

.grouping-12 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grouping-13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;

  @media print {
    padding: unset;
  }
}

.grouping-14 {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.grouping-15 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.grouping-16 {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.grouping-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.grouping-18 {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.grouping-19 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.grouping-20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
}

.grouping-21 {
  display: flex;
  padding: 0;
  margin: 0 !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.grouping-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.grouping-22-item {
  margin-left: 1.75rem;
}

.grouping-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  margin-left: 1.75rem;
}

.grouping-24 {
  width: 100%;
  padding-top: 2rem;
}

.grouping-divider {
  margin: 0.5rem 0;
}

cds-accordion-item:not([open]) {
  gap: 0; // removes unwanted extra space when accordion item is closed.
}

.flex-column-1_5rem {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.flex-column-0_25rem {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.horizontal-input-grouping, .horizontal-input-grouping-1_5 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: end;
}

.horizontal-input-grouping-1_5 {
  gap: 1.5rem;
}

.grid {
  display: grid;
  column-gap: 1rem;
  row-gap: inherit;
  align-items: end;

  &--2-per-row {
    grid-template-columns: 1fr 1fr;
  }

  &--3-per-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.input-with-instruction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-01 {
  align-self: stretch;
  padding-bottom: 0.25rem;
  color: var(--light-theme-text-text-secondary, #606062);

  /* Utility styles/label-01 */

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.02rem;
}

.label-02 {
  align-self: stretch;
  padding-bottom: 0.25rem;
  color: var(--light-theme-text-text-primary, #131315);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.02rem;
}

.text-01 {
  display: flex;
  width: 18rem;
  padding: 0.6875rem 0rem;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.display-block-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.25rem;
}

.display-block-icon-wrapper {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  align-items: flex-start;
  align-self: stretch;
}

.review-icon-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

cds-text-input::part(label),
.cds-text-input-label {
  color: var(--light-theme-text-text-primary, #131315);
  font-family: BC Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  padding-bottom: 0.5rem;
}

cds-text-input::part(label) {
  padding-bottom: unset;
}

:is(cds-text-input, cds-textarea)::part(label)::before,
.cds-text-input-required-label {
  color: var(--light-theme-text-text-error, #b32001);
}

.label-with-icon .cds-text-input-label {
  padding-bottom: 0;
}

.label-with-icon {
  display: flex;
  gap: 0.5rem;
}

.line-height-0 {
  line-height: 0; // prevents the label from being pushed away from its input field (below it).
}

/*
A parent label for a set of input fields that have their own labels like 'Date of birth' that has
children: Year, Month, Day.
*/
.parent-label {
  padding-bottom: 1rem;
}

:is(cds-text-input, cds-textarea)[data-required-label="true"]::part(
    label
  )::before {
  content: "* ";
}

cds-textarea::part(label),
cds-toggle::part(cds--toggle__label-text),
.cds-text-input-label {
  color: var(--light-theme-text-text-primary, #131315);
}

cds-text-input.warning::part(input),
cds-combo-box.warning::part(input),
cds-textarea.warning::part(input),
cds-multi-select.warning::part(input) {
  outline: 2px solid var(--cds-support-warning, #ffc300);
}

cds-modal::part(dialog) {
  width: 40rem;
  border-radius: 0.5rem;
}

cds-modal-close-button::part(button) {
  border-radius: 0.5rem;
}

cds-modal-footer {
  padding: 1rem 1rem 1rem 1rem;
}

cds-modal:is(#reject-modal, #approve-modal) cds-modal-footer {
  padding-top: 0;
  height: auto;
}

cds-modal:is(#reject-modal, #approve-modal) cds-modal-footer-button {
  height: min-content;
}

cds-modal-footer-button::part(button) {
  border-radius: 0.25rem;
  height: 75%;
  margin-bottom: 0;
  margin-top: auto;
  white-space: nowrap;

  --cds-button-danger-hover: var(--light-theme-button-danger-hover, #b32001);
}

cds-modal:is(#reject-modal, #approve-modal)
  cds-modal-footer-button::part(button) {
  padding-bottom: 1rem;
}

.cds--modal-close-btn {
  margin-right: 1rem;
}

.cds--modal-submit-btn {
  margin-left: 0rem;
}

cds-modal {
  height: 100%;
}

.paginator {
  width: 100%;
}

.headers-compact ~ .full {
  margin-top: 3rem;
}

cds-header {
  --cds-background: #0073e6;

  @media print {
    /*
    Displays the application header only on the first page and by doing that also prevents from
    covering some client details with the header on the following pages.
    */
    position: absolute;
  }
}

cds-header-name::part(link) {
  display: flex;
  gap: 1rem;
  padding: inherit;
  border: inherit;
}

cds-header-global-action {
  display: flex;
  flex: 0 1 0%;
  justify-content: flex-end;
}

// Needs an id to beat Carbon shipped style on specificity.
#my-profile-action[active]::part(button) {
  background: var(--light-theme-layer-layer-02, #fff) !important;
}

cds-header-menu-button::part(svg) {
  width: 1rem;
  height: 1rem;
}

cds-header-menu-button:not([active])::part(svg) {
  fill: var(--light-theme-text-text-on-color, #fff);
}

cds-header-global-action svg {
  fill: var(--dark-theme-focus-focus);
}

cds-header-global-action[active] svg {
  fill: #000;
}

cds-side-nav-link svg {
  fill: var(--light-theme-link-link-primary, #005cb8);
}

cds-side-nav-link:hover {
  background: var(
    --light-theme-background-background-hover,
    rgba(147, 147, 149, 0.12)
  );
}

cds-side-nav-link:active {
  background: var(
    --light-theme-background-background-active,
    rgba(147, 147, 149, 0.5)
  );
}

cds-header-global-action[active]::part(button):hover,
cds-header-global-action[active]::part(button):active,
cds-header-global-action[active]::part(button):focus {
  background: var(--cds-layer) !important;
  border-color: var(--cds-layer) !important;
}

cds-header a.bclogotop {
  margin-left: 2.5rem;
}

.unbolded::part(link) {
  font-weight: 400;
}

.side-nav-link--non-link {
  pointer-events: none;
}

.side-nav-link--non-link::part(link) {
  pointer-events: none;
  cursor: default;
  outline: none; // prevents displaying outline border when clicked
}

.disabled {
  color: var(--light-theme-text-text-disabled);
  fill: var(--light-theme-text-text-disabled);
}

cds-side-nav-items.lower-side-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2.5rem;
}

.content-stretched {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.table-list,
.submission-content,
.client-details-screen,
.client-details-content,
.idir-content,
.no-menu-content {
  padding: 2.5rem 0rem 2.5rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 0%;
  width: calc(100vw - 18.5rem);
}

.no-menu-content {
  padding: 1rem 0;
}

cds-side-nav::part(
    div cds--side-nav__navigation cds--side-nav cds--side-nav--ux
  ) {
  border-right: solid 1px var(--light-theme-background-background-selected);
}
cds-side-nav {
  flex: 1;
  display: flex;
  position: fixed;
  z-index: 10;

  @media print {
    /*
    Even though the side nav might already be closed, this is useful for hiding its right border.
    */
    display: none;
  }
}

.submission-content, .client-details-screen, .client-details-content {
  padding: 2.5rem 2rem;
  gap: 3rem;
  flex: 4;

  @media print {
    padding-left: 0;
    padding-right: 0;
  }
}

.client-details-screen {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  gap: 0;
}

.client-details-content {
  padding-top: 0;
  padding-bottom: 0;
  flex-grow: 0;
  box-sizing: border-box;
  width: 100%;
}

cds-accordion-item::part(expando) {
  min-block-size: 3rem;
}

cds-accordion-item[open]::part(cds--accordion__wrapper) {
  /*
  Fixes issue where accordions would not auto-adjust size (height) according to its content, when
  it grows dynamically.
  */
  max-block-size: unset;
}

cds-accordion-item[open]:not([disabled])::part(content),
:host(cds-accordion-item[open]:not([disabled]))
  .cds-ce--accordion__content--md {
  padding-right: 1rem !important;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mg-sd-25 {
  margin: 0rem 2.5rem;
}
.sp-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.mg-tl-2 {
  margin-top: 2rem;
  margin-left: 2rem;
}

.resource-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resource-details--title {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

cds-table {
  width: 100%;
  min-width: 63rem;
  table-layout: fixed;
  border-collapse: separate;
}

cds-table-header-row,
cds-table-row {
  box-shadow: 0 0.0625rem 0 0 var(--light-theme-border-subtle-01, #dfdfe1) inset;
}

cds-table-row:hover {
  cursor: pointer;
}

cds-table-row[even] {
  background: var(--light-theme-layer-layer-01, #f3f3f5);
}
cds-table-row[even] cds-table-cell {
  background-color: unset;
}
cds-table-row[odd] {
  background: var(--light-theme-layer-layer-02, #fff);
}

cds-table-row[even]:hover {
  background-color: var(--dark-theme-background-background-active);
}
cds-table-row[odd]:hover {
  background-color: var(--dark-theme-background-background-hover);
}

cds-table-header-cell {
  background: var(--light-theme-layer-accent-layer-accent-01, #dfdfe1);
}

#search-table {
  /*
  Sizes come from designed widths in rem minus their padding, where screen width is 1584px and
  table width is 1328px.
  */
  --col-6_75-rem: 6.75;
  --col-19_4375-rem: 19.4375;
  --col-14_75-rem: 14.75;
  --col-7_0625-rem: 7.0625;

  --padding-fixed-rem: 1;

  --total: calc(
    var(--col-padding-rem)
    + var(--col-6_75-rem) + 2 * var(--padding-fixed-rem)
    + var(--col-6_75-rem) + 2 * var(--padding-fixed-rem)
    + var(--col-19_4375-rem) + 2 * var(--padding-fixed-rem)
    + var(--col-14_75-rem) + 2 * var(--padding-fixed-rem)
    + var(--col-14_75-rem) + 2 * var(--padding-fixed-rem)
    + var(--col-7_0625-rem) + 2 * var(--padding-fixed-rem)
  );

  /*
  Border-box allows to keep calculations simple, regardless of the padding, while keeping the
  padding width always the same.
  */
  cds-table-header-cell {
    box-sizing: border-box;
  }

  /*
  Each column width below is a percentage proportional to the corresponding designed value, so it
  can adjust responsively.
  */

  .col-6_75 {
    width: calc( 100% * (var(--col-6_75-rem) + 2 * var(--padding-fixed-rem)) / var(--total));
  }
  
  .col-19_4375 {
    width: calc( 100% * (var(--col-19_4375-rem) + 2 * var(--padding-fixed-rem)) / var(--total));
  }
  
  .col-14_75 {
    width: calc( 100% * (var(--col-14_75-rem) + 2 * var(--padding-fixed-rem)) / var(--total));
  }
  
  .col-7_0625 {
    width: calc( 100% * (var(--col-7_0625-rem) + 2 * var(--padding-fixed-rem)) / var(--total));
  }
}

#relatioships-table {
  min-width: unset;

  --padding-fixed-px: 16;

  --col-104-px: 104;

  --col-310-px: 310;
  --col-210-px: 210;
  --col-120-px: 120;

  --col-padding-10-px: 10;
  --col-padding-16-px: 16;
  --amount-actions-column: 1;

  &.view-only {
    --amount-actions-column: 0
  }

  --total: calc(
    var(--col-padding-10-px)
    + 2 * var(--col-310-px)
    + var(--col-210-px)
    + 2 * var(--col-120-px)
    + var(--amount-actions-column) * var(--col-104-px)
  );

  /*
  Border-box allows to keep calculations simple, regardless of the padding, while keeping the
  padding width always the same.
  */
  cds-table-header-cell {
    box-sizing: border-box;
  }

  /*
  Each column width below is a percentage proportional to the corresponding designed value, so it
  can adjust responsively.
  */

  .col-210-px {
    width: calc( 100% * var(--col-210-px) / var(--total));
  }
  
  .col-310-px {
    width: calc( 100% * var(--col-310-px) / var(--total));
  }

  .col-120-px {
    width: calc( 100% * var(--col-120-px) / var(--total));
  }

  .col-104-px-fixed {
    padding: 0;
    width: calc(var(--col-104-px) * 1rem / 16);
  }

  .col-padding-10-px {
    padding: 0;
    width: calc(var(--col-padding-10-px) / 16 * 1rem);
  }

  .col-padding-16-px {
    padding: 0;
    width: calc(var(--col-padding-16-px) / 16 * 1rem);
  }

  cds-table-row.edit:hover {
    cursor: default;
    color: unset;

    cds-table-cell {
      background: inherit;
    }
  }

  cds-table-row[odd].edit:hover {
    background: var(--light-theme-layer-layer-02, #fff);
  }

  cds-table-row[even].edit:hover {
    background: var(--light-theme-layer-layer-01, #f3f3f5)
  }
}

cds-table-row[even] {
  // Input fields on an even row
  --cds-field: var(--light-theme-layer-layer-02, #fff);
}

.table-form-container {
  padding: 2.875rem 0;
}

.link-container {
  position: relative;
}

.row-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure link is on top */
}

.svg-danger:not([disabled]) {
  svg {
    color: var(--light-theme-button-danger-secondary);
  }
}

.col-padding {
  padding: 0;
  width: calc(var(--col-padding-rem) * 1rem);
}

cds-pagination {
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid var(--light-theme-border-border-subtle-01, #dfdfe1);
  border-bottom: 1px solid var(--light-theme-border-border-subtle-01, #dfdfe1);
  background: var(--light-theme-layer-accent-layer-accent-01, #dfdfe1);
}

cds-tag {
  margin: 0;
  word-break: normal;
}

cds-header-panel[expanded] {
  width: min(
    25rem,
    100%
  ); // instead of mixing min-width or max-width, this works perfectly while animating the panel opening/closing.
  background: var(--light-theme-layer-layer-02, #fff);
}

.margin-left-1_75rem {
  margin-left: 1.75rem;
}

.modal-dropdown-container {
  margin-bottom: calc(var(--dropdown-list-max-block-size) - var(--modal-content-padding-block-end));
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.padding-left-1rem {
  padding-left: 1rem;
}

.padding-left-1_625rem {
  padding-left: 1.625rem;
}

.colorless {
  color: unset;
}

.width-unset {
  width: unset;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.opaque-background {
  background-color: var(--cds-background, #ffffff);
  z-index: 3;
}

cds-accordion-item[open] .hide-open {
  display: none;
}

.gap-0_5-rem {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.column-gap-2-rem {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

// Copied from .cds--side-nav__overlay-active in @carbon/styles/css/styles.css so to make it available on all breakpoints
.overlay-active {
  z-index: 6000;
  width: 100vw;
  height: 100vh;
  background-color: var(--cds-overlay, rgba(22, 22, 22, 0.5));
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.5, 0, 0.1, 1),
    background-color 300ms cubic-bezier(0.5, 0, 0.1, 1);
}

.date-label {
  margin-bottom: 1rem;
}

/* 
Useful for scrolling to the *start* of an HTML element without having it covered under the page
header.
*/
.header-offset {
  position: relative;
  top: calc(-1 * var(--header-height));
}

/* 
Useful for scrolling to the *start* of an HTML element without having it covered under the Staff's
page header and tabs.
*/
.header-tabs-offset {
  position: relative;
  top: calc(-1 * (
    var(--staff-header-height) + var(--staff-tabs-height) + var(--tab-header-height)
  ));
}

.hide-when-less-than-two-children {
  display: none;

  &:has(:nth-child(2)) {
    display: flex;
    flex-direction: column;
  }
}

/*
I wish we could define .hide-when-less-than-two-children simply like this.
But it's not working on Safari with dynamic updates.
*/
// .hide-when-less-than-two-children:not(:has(:nth-child(2))) {
//   display: none;
// }

.errors-container {
  --gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  &>.header-offset {
    margin-bottom: calc(-1 * var(--gap));
  }
}

.invisible {
  visibility: hidden;
}

// Taken from https://webaim.org/techniques/css/invisiblecontent/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.empty-table-list {
  height: 16rem;
  background: var(--light-theme-layer-layer-01, #f3f3f5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.standard-svg {
  max-height: 16rem !important;
  max-width: 16rem !important;
  fill: var(--cds-button-primary, #0073e6);
}

.empty-table-list .body-compact-01 {
  width: 22.5rem;
  text-align: center;
}

div.internal-grouping-01 span.body-compact-01 ~ svg.good {
  fill: var(--cds-support-success);
}

svg.warning {
  fill: var(--cds-support-warning);
}

svg.warning path[data-icon-path="inner-path"] {
  fill: #000000;
  opacity: 1;
}

div.internal-grouping-01:has(svg.warning) span.body-compact-01:not(.default-typography) {
  font-weight: 900;
  background-color: color-mix(in srgb, var(--cds-support-warning) 40%, white);
}

#datatable {
  position: relative;
  right: 0;
  overflow-x: scroll;
}

#search-line {
  --lg-size: 3rem;
  --padding-size: 2.5rem;

  display: flex;
  align-items: flex-start;
  min-height: calc(var(--lg-size) + var(--padding-size));
  padding: 0 var(--padding-size);

  .grouping-02 {
    flex-grow: 1;
  }
}

#search-box {
  --row-height: 2.875rem;

  cds-combo-box-item {
    block-size: var(--row-height);
  }

  &::part(cds--combo-box), &::part(input) {
    border-bottom-width: 0;
  }

  &::part(input)::placeholder {
    color: var(--light-theme-text-text-primary);
  }
}

.search-result-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: -0.0625rem 0;
}

#search-button {
  width: 7.875rem;
}

.tabs-container {
  @media not print {
    position: sticky;
    top: var(--staff-header-height);
  }

  @media print {
    // Hides the tabs navigation buttons
    display: none;
  }
}

.tab-panels-container {
  height: 100%;

  & > div {
    height: 100%;

    @media print {
      height: unset;
      display: block; // turns the target content on every tab visible
    }
  }
}

.tab-header {
  --p: var(--tab-panel-padding);
  --g: var(--tab-panel-gap);

  background: var(--light-theme-layer-layer-01, #f3f3f5);
  padding: var(--p) var(--p) var(--g) var(--p);

  @media not print {
    position: sticky;
    top: calc(var(--staff-header-height) + var(--staff-tabs-height));
    z-index: 3;
  }
}

.tab-panel {
  height: 100%;
  background: var(--light-theme-layer-layer-01, #f3f3f5);
  box-sizing: border-box;

  @media print {
    height: unset;
  }

  --p: var(--tab-panel-padding);

  &--populated {
    padding: 0 var(--p) var(--p) var(--p);
    display: flex;
    flex-direction: column;
    gap: var(--tab-panel-gap);
    width: 100%;

    @media print {
      padding-left: 0;
      padding-right: 0;
    }

    &[hidden] {
      display: none;
    }
  }

  &--empty {
    padding: 5rem;
    justify-content: center;

    .empty-table-list {
      height: 100%;
      gap: 1rem;

      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }

      .inner-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }

      .body-compact-01 {
        width: unset;
      }

      cds-button span {
        width: unset;
      }

      & > svg {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}

.display-contents {
  display: contents;
}

/* Small (up to 671px) */
@media screen and (max-width: 671px) {
  :root {
    // variables with the -<unit> suffix should be used for calculations only.

    --cds-header-name-link-gap-vw: 5;
    --cds-header-name-link-gap: calc(var(--cds-header-name-link-gap-vw) * 1vw);
  }
  cds-header a.bclogotop {
    margin-left: 1rem;
  }

  .heading-buttons {
    margin-right: 0;
    gap: 0;
  }

  .heading-buttons cds-button svg {
    // allows icons to render at their full size.
    block-size: auto;
    inline-size: auto;
  }

  cds-header-name::part(link) {
    gap: min(1rem, var(--cds-header-name-link-gap));
  }

  .content-landing {
    flex-direction: column;
  }

  .wizard-head-toast {
    right: 0.4375rem;
    top: 4rem;
  }

  cds-modal {
    height: 100%;
    width: 100%;
  }

  cds-modal::part(dialog) {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
  }

  .cds--modal-close-btn,
  .cds--modal-submit-btn {
    margin: 0rem;
    width: 100%;
  }

  cds-modal-footer {
    height: auto;
    display: flex;
    padding: 0rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }

  cds-modal-footer-button::part(button) {
    padding-bottom: 1rem;
  }

  .screen {
    padding: 1.5rem 1rem 2.5rem 1rem;
    flex-direction: column;
    align-items: center;
  }

  .headers {
    gap: 1rem;
    flex-shrink: 0;
  }

  .headers a img {
    width: 2.5rem;
  }

  .heading span:last-child {
    display: none;
  }

  .form-header {
    align-self: stretch;
  }

  .form-header-progress {
    flex-direction: column;
  }

  .form-steps {
    align-self: stretch;
  }

  .form-steps-01 {
    align-self: stretch;
  }

  .form-steps-01-title {
    gap: 0.5rem;
    align-self: stretch;
  }

  .form-group-buttons {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: stretch;
  }

  .full-centered {
    padding: 1.5rem 1rem 2rem 1rem;
  }

  .form-header-application-submitted {
    width: unset;
  }

  .form-header-application-submitted cds-button {
    margin-top: 2rem;
  }

  .screen cds-button {
    width: 100%;
  }

  .screen cds-button span {
    width: 100%;
  }

  .frame-03 {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  h2.fluid,
  .fluid-heading-04 {
    /* Fluid styles/SM/fluid-heading-04 */
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .fluid-paragraph-01 {
    /* Fluid styles/XLG/fluid-paragraph-01 */
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .submission-badge {
    width: 18rem;
    height: 18rem;
  }

  .submission-sidebar {
    width: 0rem;
  }

  .submission-content, .client-details-screen {
    padding: 2.5rem 1rem !important;
  }

  .client-details-screen {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .client-details-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .grouping-10 {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .grouping-10-internal {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .grouping-15 {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 1rem;
  }

  .mg-sd-25 {
    margin: 0rem 1rem 2rem 1rem;
  }

  .table-list {
    padding: 2.5rem 0rem;
  }

  .paginator {
    width: 100%;
  }
  .resource-details--title svg {
    width: 5rem;
  }

  .card {
    padding: 1.5rem;
  }

  cds-tooltip:has(cds-button) {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
}

/* Medium (from 672px to 1055px) */
@media screen and (min-width: 672px) and (max-width: 1055px) {
  /* Lower range width is still a mess */

  cds-header a.bclogotop {
    margin-left: 2rem;
  }

  .heading-buttons {
    margin-right: 2rem;
    gap: 0;
  }

  cds-header-name::part(link) {
    gap: 1.5rem;
  }

  .content-landing {
    flex-direction: column;
  }

  .screen {
    padding: 2.5rem 2rem;
    align-items: center;
  }

  .heading {
    padding: 0.9375rem 0.5rem 0.9375rem 0.5rem;
    flex-shrink: 0;
  }

  .form-header {
    align-self: stretch;
  }

  .full-centered {
    padding: 2rem 3.375rem 2rem 2.4375rem;
  }

  .form-header-application-submitted {
    width: unset;
  }

  .form-header-application-submitted cds-button {
    margin-top: 2rem;
  }

  .frame-03 {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  h2.fluid,
  .fluid-heading-04 {
    /* Fluid styles/MED/fluid-heading-04 */
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .fluid-paragraph-01 {
    /* Fluid styles/XLG/fluid-paragraph-01 */
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .submission-badge {
    width: 18rem;
    height: 18rem;
  }

  .grouping-10 .grouping-11:first-child {
    width: 40%;
  }

  .mg-sd-25 {
    margin: 0rem 2.5rem 2rem 2rem;
  }

  cds-table-header-title {
    margin-left: 1rem;
  }

  .table-list {
    padding: 2.5rem 0rem;
  }

  .submission-content, .client-details-screen, .client-details-content, .idir-content {
    padding: 2.5rem 2rem;
  }

  .client-details-screen {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .client-details-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .paginator {
    width: 100%;
  }
}

/* Large (from 1056px to 1311px) */
@media screen and (min-width: 1056px) and (max-width: 1311px) {
  cds-header a.bclogotop {
    margin-left: 2rem;
  }

  .heading-buttons {
    margin-right: 2rem;
    gap: 1.5rem;
  }

  cds-header-name::part(link) {
    gap: 1.5rem;
  }

  .screen {
    padding: 1rem 2rem 2rem;
    align-items: center;
  }

  .grouping-02,
  .grouping-03 {
    width: 50.4375rem;
  }

  .form-header-application-submitted cds-button {
    margin-top: 2rem;
  }

  .frame-03 {
    column-gap: 4.0625rem;
  }

  h2.fluid,
  .fluid-heading-04 {
    /* Fluid styles/MED/fluid-heading-04 */
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .fluid-paragraph-01 {
    /* Fluid styles/XLG/fluid-paragraph-01 */
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .submission-badge {
    width: 16rem;
    height: 16rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-02,
  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-03 {
    width: auto;
  }

  div#screen div#title {
    margin-bottom: 2rem;
  }
  .submission-content, .client-details-screen, .client-details-content, .idir-content {
    --padding-right: 2rem;
    --padding-left: 18.5rem;
    padding: 2.5rem var(--padding-right) 2.5rem var(--padding-left);
    max-width: calc(
      100vw -
        (var(--padding-right) + var(--padding-left) + var(--scroll-bar-width))
    );
  }
  .client-details-screen {
    --padding-right: 0;
    --padding-left: 16rem;
    padding-bottom: 0;
  }
  .client-details-content {
    padding-top: 0;
    padding-bottom: 0;
    --padding-right: 2.5rem;
    --padding-left: 2.5rem;
  }

  div.content:has(div.staff svg.submission-badge) {
    margin-left: 16rem;
  }

  div.form-group-buttons {
    gap: 0.5rem;
  }

  div.form-group-buttons cds-button {
    margin-top: 1rem;
  }

}

/* X-Large (from 1312px to 1583px) */
@media screen and (min-width: 1312px) and (max-width: 1583px) {
  cds-header a.bclogotop {
    margin-left: 2rem;
  }

  .heading-buttons {
    margin-right: 2rem;
    gap: 2rem;
  }

  cds-header-name::part(link) {
    gap: 1.5rem;
  }

  .screen {
    padding: 2.5rem 2rem;
    align-items: center;
  }

  .grouping-02,
  .grouping-03 {
    width: 50.4375rem;
  }

  .frame-03 {
    column-gap: 3.3125rem;
  }

  h2.fluid,
  .fluid-heading-04 {
    /* Fluid styles/XLG/fluid-heading-04 */
    font-size: 3rem;
    line-height: 56px;
  }

  .fluid-paragraph-01 {
    /* Fluid styles/XLG/fluid-paragraph-01 */
    font-size: 28px;
    line-height: 2.25rem;
  }

  .submission-badge {
    width: 22rem;
    height: 22rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-02,
  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-03 {
    width: auto;
  }
  div#screen div#title {
    margin-bottom: 2rem;
  }

  .submission-content, .client-details-screen, .client-details-content, .idir-content {
    --padding-right: 2rem;
    --padding-left: 18.5rem;
    padding: 2.5rem var(--padding-right) 2.5rem var(--padding-left);
    max-width: calc(
      100vw -
        (var(--padding-right) + var(--padding-left) + var(--scroll-bar-width))
    );
  }

  .client-details-screen {
    --padding-right: 0;
    --padding-left: 16rem;
    padding-bottom: 0;
  }

  .client-details-content {
    padding-top: 0;
    padding-bottom: 0;
    --padding-right: 2.5rem;
    --padding-left: 2.5rem
  }

  div.content:has(div.frame-03 svg.submission-badge) {
    margin-left: 12rem;
  }

  
}

/* XX-Large (from 1584px to 1783px) */
@media screen and (min-width: 1584px) and (max-width: 1783px) {
  cds-header a.bclogotop {
    margin-left: 2.5rem;
  }

  .heading-buttons {
    margin-right: 2.5rem;
    gap: 2.5rem;
  }

  cds-header-name::part(link) {
    gap: 1.5rem;
  }

  .screen {
    padding: 2.5rem 2rem;
    align-items: center;
  }

  .grouping-02,
  .grouping-03 {
    width: 50.4375rem;
  }

  .frame-03 {
    column-gap: 4.125rem;
  }

  .submission-badge {
    width: 29.8125rem;
    height: 29.8125rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-02,
  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-03 {
    width: auto;
  }

  div#screen div#title {
    margin-bottom: 2rem;
  }

  .submission-content, .client-details-screen, .client-details-content {
    --padding-right: 2rem;
    --padding-left: 18.5rem;
    padding: 2.5rem var(--padding-right) 2.5rem var(--padding-left);
    max-width: calc(
      100vw -
        (var(--padding-right) + var(--padding-left) + var(--scroll-bar-width))
    );
  }

  .client-details-screen {
    --padding-right: 0;
    --padding-left: 16rem;
    padding-bottom: 0;
  }

  .client-details-content {
    padding-top: 0;
    padding-bottom: 0;
    --padding-right: 2.5rem;
    --padding-left: 2.5rem
  }

  div.content:has(div.frame-03 svg.submission-badge) {
    margin-left: 12rem;
  }
}

/* XXX-Large (1784px and above) */
@media screen and (min-width: 1784px) {
  .screen {
    padding: 1rem 7.75rem 2.5rem;
    align-items: center;
  }

  .grouping-02,
  .grouping-03 {
    width: 50.4375rem;
  }

  .frame-03 {
    column-gap: 4.3125rem;
  }

  .submission-badge {
    width: 31.375rem;
    height: 31.375rem;
  }

  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-02,
  cds-modal#reject-modal cds-modal-body.grouping-12 .grouping-03 {
    width: auto;
  }
  div#screen div#title {
    margin-bottom: 2rem;
  }

  .submission-content, .client-details-screen, .client-details-content {
    --padding-right: 2.5rem;
    --padding-left: 18.5rem;
    padding: 2.5rem var(--padding-right) 2.5rem var(--padding-left);
    max-width: calc(
      100vw -
        (var(--padding-right) + var(--padding-left) + var(--scroll-bar-width))
    );
  }

  .client-details-screen {
    --padding-right: 0;
    --padding-left: 16rem;
    padding-bottom: 0;
  }

  .client-details-content {
    padding-top: 0;
    padding-bottom: 0;
    --padding-right: 2.5rem;
    --padding-left: 2.5rem
  }

  div.content:has(div.frame-03 svg.submission-badge) {
    margin-left: 12rem;
  }
}
