@use "sass:map";
@use "@carbon/styles";
@use "@bcgov-nr/nr-fsa-theme/design-tokens/type-family.scss" as typeFamily;

:root {
  --others-transparent-transparent: rgba(255, 255, 255, 0);
  --light-theme-button-button-primary: #0073e6;
  --light-theme-button-button-secondary: #464648;
  --light-theme-button-button-tertiary: #005cb8;
  --cds-focus: #0073e6;
  --light-theme-link-link-primary: #005cb8;
  --light-theme-link-link-primary-hover: #00478f;
  --light-theme-link-link-secondary: #00478f;
  --light-theme-link-link-secondary-hover: #00478f;
  --light-theme-link-link-inverse: #5cadff;
  --light-theme-link-link-visited: #7c1cdf;
  --dark-theme-link-link-primary: #5cadff;
  --dark-theme-link-link-primary-hover: #85c2ff;
  --dark-theme-link-link-secondary: #85c2ff;
  --dark-theme-link-link-secondary-hover: #005cb8;
  --dark-theme-link-link-inverse: #005cb8;
  --dark-theme-link-link-visited: #c59af1;
  --dark-theme-focus-focus: #ffffff;
  --dark-theme-button-button-tertiary: #ffffff;
  --dark-theme-button-button-tertiary-active: #C6C6C8;
  --dark-theme-background-background-hover: rgba(147, 147, 149, 0.16);
  --dark-theme-background-background-active: rgba(147, 147, 149, 0.40);
  --dark-theme-text-text-primary: #F3F3F5;
  --light-theme-support-support-info: #00478f;
  --light-theme-notifications-support-info-border: rgba(0, 102, 204, 1);
  --light-theme-notifications-notification-info-background: #c2e0ff;
  --light-theme-background-background-inverse: #2d2d2f;
  --light-theme-text-text-primary: #131315;
  --border-subtle-02: #dfdfe1;
  --light-theme-tag-blue-background: #c2e0ff;
  --light-theme-tag-blue-text: #00478f;
  --light-theme-focus: #0073e6;
  --light-theme-miscellaneous-interactive:#0073E6;
  --light-theme-background-background-selected: #93939533;

  //Buttons
  --cds-button-disabled: #C6C6C8;

  //Primary button
  --cds-button-primary: #0073e6;
  --cds-button-primary-hover: #0066CC;
  --cds-button-primary-active: #00478F;

  //Secondary button
  --cds-button-secondary: #464648;
  --cds-button-secondary-hover: #535355;
  --cds-button-secondary-active: #606062;

  //Tertiary button
  --cds-button-tertiary: #005cb8;
  --cds-button-tertiary-hover: #0052a3;
  --cds-button-tertiary-active: #00478F;

  //Danger button
  --cds-button-danger: #e72000;
  --cds-button-danger-hover: #b32001;
  --cds-button-danger-active: #801701;

  //Notifications
  --cds-notification-background-info: #C2E0FF;
  --cds-support-info: #00478F;

  --cds-notification-background-success: #CCE5CC;
  --cds-support-success: #007B00;

  --cds-notification-background-warning: #FFF3CC;
  --cds-support-warning: #FFC300;

  --cds-notification-background-error: #FFEAE5;
  --cds-support-error: #E72000;
}
*, *::before, *::after {
  box-sizing: unset;
}

.heading-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 1.5rem;
  --cds-text-inverse: var(--light-theme-text-text-primary);
  --cds-button-tertiary: var(--dark-theme-button-button-tertiary);
  --cds-button-tertiary-hover: var(--dark-theme-focus-focus);
  --cds-button-tertiary-active: var(--dark-theme-button-button-tertiary-active);
  
  --cds-link-primary: var(--border-subtle-02);
  --cds-link-primary-hover: var(--dark-theme-link-link-primary-hover);
  --cds-layer-hover: var(--dark-theme-background-background-hover);
  --cds-background-active: var(--dark-theme-background-background-active);
}

.heading-buttons cds-button[kind='tertiary']{
  --cds-button-tertiary: var(--dark-theme-button-button-tertiary);
}

.heading-buttons cds-button[kind='ghost']{
  --cds-button-tertiary: var(--dark-theme-text-text-primary);
}
.heading-buttons cds-button span {
  width: 5rem;
}

.heading-buttons #help-btn span {
  width: 9.5rem;
}

cds-button::part(button) {
  border-radius: 0.25rem;
}
cds-button span {
  width: 11rem;
}

.step-active {
  --cds-border-subtle: var(--light-theme-miscellaneous-interactive);
}

cds-progress-step[vertical] {
  width: fit-content;
}

cds-progress-step::part(cds--progress-label) {
  max-width: initial;
  padding-right: 0.5rem;
}

cds-inline-notification::part(div),
cds-inline-notification,
.cds--inline-notification {
  max-width: 100%;
  border-radius: 0.25rem;
}

cds-actionable-notification::part(div),
cds-actionable-notification,
.cds--actionable-notification {
  max-width: 100%;
  border-radius: 0.25rem;
}

.top-notification {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

* {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
}

body {
  font-family: map.get(typeFamily.$type-family, "sans");
}

a {
  color: var(--light-theme-link-link-primary, #005cb8);
}

a:hover {
  color: var(--light-theme-link-link-primary-hover, #00478f);
}

a:visited {
  color: var(--light-theme-link-link-visited, #7c1cdf);
}
hr {
  display: block;
  border: 0;
  border-top: 1px solid var(--border-subtle-02, #dfdfe1);
  padding: 0;
  align-self: stretch;
  width: 100%;
}

div#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bulleted-list {
  list-style: disc;
  margin-left: 1.5rem;
}

.numbered-list {
  list-style: decimal;
  margin-left: 1.5rem;
}

.numbered-list li {
  padding-bottom: 0.625rem;
}

.wizard-head-toast {
  position: fixed;
  right: 1.5625rem;
  top: 5rem;
  border-radius: 0.25rem;
  z-index: 999; /* Higher value to ensure it's on top */
  /* Light Theme/Shadows/Menu */
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.submission-badge {
  width: 414px;
  height: 414px;
  flex-grow: 1;
  fill: var(--cds-hover-primary, #0353e9);
}

.form-header-progress {
  display: flex;
}

/* Recreating the style */
.spacing {
  padding: 1.5rem;
}

.landing-subtitle {
  margin: 1.5rem 0rem 0rem 0rem;
}
.full-centered {
  display: flex;
  padding: 8.125rem 13.375rem 15rem 2.5rem;
  align-items: center;
  background: var(--light-theme-layer-layer-02, #fff);
  flex-grow: 1;
}
.full {
  margin: 0rem;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;  
  
  background: var(--light-theme-background-background, #fff);
  flex-grow: 1;
}
.screen {
  margin: 3rem 2.5rem 2.5rem 2.5rem;
  padding-bottom: 0px;
  display: flex;
  background: var(--light-theme-background-background, #fff);
  flex-grow: 1;
}

.headers {
  display: flex;
  padding: 0.25rem 2rem;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  gap: 1.5rem;
  background: var(--light-theme-background-background-brand, #0073e6);
}

.headers-compact {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1.5rem;
  background: var(--light-theme-background-background-brand, #0073e6);
}
.headers a img {
  width: 7.5rem;
  flex-shrink: 0;
}
.heading {
  display: flex;
  padding: 0.9375rem 0.5rem 0.9375rem 0.5rem;
  align-items: flex-start;
  gap: 0.1875rem;
}
.heading-button-transparent {
  display: flex;
  width: 12.375rem;
  padding: 0.1875rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}
.heading-button {
  display: flex;
  width: 9.6875rem;
  padding: 0.1875rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid var(--dark-theme-button-button-tertiary, #fff);
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}
.heading-compact-01 {
  color: var(--dark-theme-text-text-primary, #F3F3F5);

  /* Fixed heading styles/heading-compact-01 */
  font-family: BC Sans, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem; /* 128.571% */
  letter-spacing: 0.01rem;
}
.heading-compact-01-dark {
  color: var(--light-theme-text-text-primary, #131315) !important;
}
.heading-02 {
  color: var(--light-theme-text-text-primary, #131315) !important;

  /* Fixed heading styles/heading-02 */
  font-family: BC Sans, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}
.heading-03 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-03 */
  font-family: BC Sans, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
}
.heading-04 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-04 */
  font-family: BC Sans, sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 128.571% */
}
.heading-05 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-05 */
  font-family: BC Sans, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 125% */
}
.fluid-heading-05 {
  align-self: stretch;
  color: var(--light-theme-text-text-primary, #131315);

  /* Fluid styles/MAX/fluid-heading-05 */
  font-family: BC Sans, sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.375rem; /* 116.667% */
}
.fluid-paragraph-01 {
  align-self: stretch;
  color: var(--light-theme-text-text-secondary, #606062);

  /* Fluid styles/MAX/fluid-paragraph-01 */
  font-family: BC Sans, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 125% */
}
.body-01 {
  color: var(--light-theme-text-text-secondary, #606062);

  /* Body styles/body-01 */
  font-family: BC Sans, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01rem;
}
.body-02 {
  color: var(--light-theme-text-text-secondary, #606062);

  /* Body styles/body-02 */
  font-family: BC Sans, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
.body-compact-01 {
  color: var(--light-theme-text-text-primary, #131315);

  /* Body styles/body-compact-01 */
  font-family: BC Sans, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01rem;
}
.body-compact-01-colorless {

  /* Body styles/body-compact-01 */
  font-family:BC Sans, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01rem;
}

.heading-compact-02, cds-accordion-item::part(title) {
  color: var(--light-theme-text-text-primary, #131315);

  /* Fixed heading styles/heading-compact-02 */
  font-family: BC Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem; /* 137.5% */
}

.content {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content-landing {
  margin: 0px;
  margin-left: 2.5rem;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.content-stretched {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.submission-list {  
  padding: 2.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  flex-shrink: 0;
  flex-grow: 1;
}

.submission-sidebar {
  width: 16rem;
  border-right: solid 1px var(--light-theme-background-background-selected);
}

.submission-content {  
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3rem;
  flex-shrink: 0;
  flex-grow: 1;
}

.submission-details--title{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  --cds-icon-primary: var(--light-theme-miscellaneous-interactive);
}
.form-header-stretched {
  align-self: stretch;
}

.form-header-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-header-progress {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}

.form-steps {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.form-steps-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-steps-01-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-steps-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.form-steps-section-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-steps-section-04 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.form-footer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.form-footer-group {
  display: flex;
  width: 34.75rem;
  align-items: flex-start;
  gap: 1rem;
}

.form-footer-group-next {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.form-footer-group-buttons {
  display: flex;
  gap: 1rem;
}

.frame-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.frame-02 {
  align-self: stretch;
  display: inline-flex;
  flex-direction: column;
  gap: 0.75rem;
}

.frame-03 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grouping-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grouping-02 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.grouping-03 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.grouping-04 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--others-transparent-transparent, #fff);
  background-blend-mode: multiply;
}

.grouping-04-label {
  display: flex;
  width: 18rem;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
}

.grouping-05 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
}

.grouping-05-internal {
  align-self: stretch;
  display: flex;
  flex-direction: column;  
  gap: 2.5rem;
  background: #fff;
}

.grouping-05-short {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
}

.grouping-06 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.grouping-07 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.grouping-08 {
  display: flex;
  padding: 0.9rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
  flex: 1 0 0;
}
.grouping-09 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.grouping-10 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;  
}
.grouping-10-internal {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 0 2rem 1rem;
}

.grouping-11 {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  align-items: flex-start;
  gap: 0.25rem;
}

.grouping-12 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grouping-13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-theme-border-border-subtle-00, #dfdfe1);
  background: #fff;
}
.grouping-14{
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.grouping-15 {
  display: flex;  
  align-items: flex-start;
  gap: 1rem;
}

.grouping-divider {
  margin: 0.5rem 0;
}

.bx--btn-reset {
  position: relative;
  top: auto;
  right: auto;
  transform: inherit;
}

.label-01 {
  align-self: stretch;
  color: var(--light-theme-text-text-primary, #131315);

  /* Utility styles/label-01 */
  font-family: BC Sans, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.02rem;
}

.text-01 {
  display: flex;
  width: 18rem;
  padding: 0.6875rem 0rem;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.display-block-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.25rem;
}

.display-block-icon-wrapper {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  align-items: flex-start;
  align-self: stretch;
}

cds-modal::part(dialog) {
  border-radius: 0.5rem;
}

cds-modal-close-button::part(button) {
  border-radius: 0.5rem;
}

cds-modal-footer {
  padding: 3rem 1rem 1rem 1rem;
}

cds-modal-footer-button::part(button) {
  border-radius: 0.25rem;
  height: 75%;
  margin-bottom: 0;
  margin-top: auto;
}

.cds--modal-close-btn {
  margin-right: 0.25rem;
}

.cds--modal-submit-btn {
  margin-left: 0.25rem;
}

cds-accordion-item[open]:not([disabled])::part(content) ,:host(cds-accordion-item[open]:not([disabled])) .cds-ce--accordion__content--md {
  padding-right: 1rem !important;
  padding-top: 0rem;
  padding-bottom: inherit;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

cds-accordion-item.grouping-05-internal:not([open]) {  
  padding-bottom: 2rem;
}

.mg-sd-25 {
  margin: 0rem 2.5rem;
}
.sp-1 {
  display: flex;
  gap: 1rem;
}
.mg-tl-2 {
  margin-top: 2rem;
  margin-left: 2rem;
}

cds-accordion-item.grouping-05-internal::part(title) {
  margin-top: 2rem;
  margin-left: 2rem;
}

.submission-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

cds-modal {
  height: 100%;
}

/* Small (up to 671px) */
@media screen and (max-width: 671px) {
  .wizard-head-toast {
    right: 0.5rem;
    top: 0.5rem;
  }

  cds-modal {
    height: 100%;
    width: 100%;
  }

  cds-modal::part(dialog) {
    max-height: 20.5rem;
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
  }

  .cds--modal-close-btn,
  .cds--modal-submit-btn {
    margin: 0rem;
    width: 100%;
  }

  cds-modal-footer {
    display: flex;
    padding: 0rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }

  .screen {
    margin: 1.5rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: center;
  }


  .headers {
    padding: 0rem 1rem;
    gap: 1rem;
    flex-shrink: 0;
  }

  .headers a img {
    width: 2.5rem;
  }

  .heading span:last-child {
    display: none;
  }

  .form-header {
    align-self: stretch;
  }

  .form-header-progress {
    flex-direction: column;
  }

  .form-steps {
    align-self: stretch;
    width: 18rem;
  }

  .form-steps-01 {
    align-self: stretch;
    width: 18rem;
  }

  .form-steps-01-title {
    gap: 0.5rem;
    align-self: stretch;
  }

  .form-footer-group-buttons {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

/* Medium (from 672px to 1055px) */
@media screen and (min-width: 672px) and (max-width: 1055px) {
  .form-header-title span {
    color: purple;
  }

  /* Lower range width is still a mess */

  .screen {
    margin: 2rem;
    align-items: center;
  }

  .heading {
    padding: 0.9375rem 0.5rem 0.9375rem 0.5rem;
    flex-shrink: 0;
  }

  .form-header {
    align-self: stretch;
  }
}

/* Large (from 1056px to 1311px) */
@media screen and (min-width: 1056px) and (max-width: 1311px) {
  .screen {
    margin: 2rem;
    align-items: center;
  }
}

/* X-Large (from 1312px to 1583px) */
@media screen and (min-width: 1312px) and (max-width: 1583px) {
  .screen {
    margin: 2rem;
    align-items: center;
  }
}

/* XX-Large (from 1584px to 1783px) */
@media screen and (min-width: 1584px) and (max-width: 1783px) {
  .form-steps {
    width: 50vw;
  }
}

/* XXX-Large (1784px and above) */
@media screen and (min-width: 1784px) {
  .form-steps {
    width: 50vw;
  }
}

b {
  font-weight: 700;
}
cds-modal {
  border-radius: 0.25rem;
}