<html>
<img src='./img/logo.png' width="150" />
<!-- <style type="text/css"> <#include "./style/templateStyle.css"> </style>  -->
<body>
	<div style='padding-left: 1em'>
		<p>Dear TODO,</p>
		<p>We’ve received your application for a client number for
			${business.name}.</p>
		<p>We’ll email your client number once we confirm the information
			you provided.</p>
		<p>
			If you need to contact us before then, email <a
				href="FORHVAP.CLIADMIN@gov.bc.ca">FORHVAP.CLIADMIN@gov.bc.ca.</a>
		</p>
		<p>Thank you, The CLIENT Team</p>
	</div>
</body>
</html>