name: Merge

on:
  push:
    branches: [main]
    paths-ignore:
      - ".github/ISSUE_TEMPLATE/*"
      - "**.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: {}

jobs:
  vars:
    name: Set Variables
    outputs:
      pr: ${{ steps.pr.outputs.pr }}
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    steps:
      # Get PR number for squash merges to main
      - name: PR Number
        id: pr
        uses: bcgov/action-get-pr@21f9351425cd55a98e869ee28919a512aa30647d # v0.0.1

  deploy-test:
    name: Deploy (TEST)
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml
    with:
      environment: test
      target: test
      url: forestclient-tst.nrs.gov.bc.ca
      configmap-backend: |-
        features:
          staff:
            match: true
        info:
          app:
            component: backend
      configmap-frontend: |-
        window.localStorage.setItem(\"VITE_FEATURE_FLAGS\",'{\"RELATED_CLIENTS\":true}');

  deploy-prod:
    name: Deploy (PROD)
    needs: [deploy-test]
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml
    with:
      environment: prod
      target: prod
      url: forestclient.nrs.gov.bc.ca
      configmap-backend: |-
        features:
          staff:
            match: false
        info:
          app:
            component: backend
      configmap-frontend: |-
        window.localStorage.setItem(\"VITE_FEATURE_FLAGS\",'{}');

  images-prod:
    name: Promote images to PROD
    needs: [deploy-prod]
    permissions:
      packages: write
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        component: [backend, frontend, legacy, database, processor]
    steps:
      - uses: shrink/actions-docker-registry-tag@f04afd0559f66b288586792eb150f45136a927fa # v4
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/${{ matrix.component }}
          target: test
          tags: prod

  release:
    name: Release
    needs: [deploy-prod]
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Conventional Changelog Update
        uses: TriPSs/conventional-changelog-action@84dadaf2c367cb52af02737cd9c7e888807219e7 # v6
        id: changelog
        continue-on-error: true
        with:
          github-token: ${{ github.token }}
          output-file: "CHANGELOG.md"
          skip-version-file: "true"
          skip-commit: "true"
          git-push: "true"

      - name: Create Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
        if: steps.changelog.outputs.tag != ''
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          token: ${{ github.token }}
          tag_name: ${{ steps.changelog.outputs.tag }}
          name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
