name: Reusable Unit Tests and Analysis

on:
  workflow_call:

permissions: {}

jobs:
  tests-frontend:
    name: Frontend Unit Tests
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-test-and-analyse@8f699e3fd3fadd9a6adf6f4b1f2638ef7ecfefb9 # v2.0.0
        env:
          VITE_BACKEND_URL: http://localhost:8080
          VITE_FRONTEND_URL: http://localhost:3000
          VITE_NODE_ENV: test
          VITE_COVERAGE: true
          VITE_PORT: 3000
          VITE_AWS_COGNITO_REGION: 'ca-central-1'
          VITE_AWS_COGNITO_POOL_ID: ${{ secrets.COGNITO_USER_POOL }}
          VITE_AWS_COGNITO_CLIENT_ID: ${{ secrets.COGNITO_CLIENT_ID }}
          VITE_AWS_COGNITO_DOMAIN: ${{ secrets.COGNITO_DOMAIN }}
          VITE_AWS_COGNITO_ENVIRONMENT: dev
          VITE_LOGOUT_BCSC_URL: http://localhost:3000
          VITE_LOGOUT_BCEIDBUSINESS_URL: http://localhost:3000
          VITE_LOGOUT_IDIR_URL: http://localhost:3000
        with:
          node_version: 22.12
          commands: |
            npm ci
            npm run coverage
          dir: frontend
          sonar_args: >
            -Dsonar.exclusions=**/coverage/**,**/tests/**,**/stub/**,**/reports/**,**/cypress/**,,**/assets/**,,**/dto/**,**/CoreConstants.ts,**/src/CoreConstants.ts,**/main.ts,**/routes.ts,**/sims-vue.d.ts,**/styles.ts,**/components.d.ts
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info            
            -Dsonar.organization=bcgov-sonarcloud
            -Dsonar.projectKey=forest-client-frontend
          sonar_token: ${{ secrets.SONAR_TOKEN_FRONTEND }}
          triggers: ('frontend/')

      - uses: actions/upload-artifact@v6
        name: Upload Cypress Screenshots with error
        continue-on-error: true
        if: failure()
        with:
          name: cypress-screenshots
          path: frontend/cypress/screenshots
          retention-days: 7
