name: Scheduled

on:
  schedule: [cron: "0 11 * * 6"] # 3 AM PST = 12 PM UDT, Saturdays
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  # https://github.com/bcgov/quickstart-openshift-helpers
  schema-spy:
    name: SchemaSpy Documentation
    permissions:
      contents: write
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.schema-spy.yml@6d695dd755fa9255ea4bde335890516beb6f95e4 # v1.0.1
    with:
      flyway_locations: 'filesystem:./backend/src/main/resources/db/migration'
      flyway_schema: 'nrfc'
      schemaspy_schema: 'nrfc'
    
  zap_scan:
    runs-on: ubuntu-24.04
    name: Penetration Tests
    env:
      DOMAIN: apps.silver.devops.gov.bc.ca
      PREFIX: ${{ github.event.repository.name }}-test
    permissions:
      issues: write
    strategy:
      matrix:
        name: [backend, frontend]
        include:
          - name: backend
            target: https://nr-forest-client-test-backend.apps.silver.devops.gov.bc.ca
          - name: frontend
            target: https://forestclient-tst.nrs.gov.bc.ca
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@3c58388149901b9a03b7718852c5ba889646c27c # v0.13.0
        with:
          allow_issue_writing: true
          artifact_name: "zap_${{ matrix.name }}"
          cmd_options: "-a"
          issue_title: "ZAP: ${{ matrix.name }}"
          target: ${{ matrix.target }}
